{% extends "base.html" %}

{% load i18n %}

{% block head_title %}Выйти{% endblock %}

{% block content %}
    <div class="gk_form_container index">

    <h1>Выход из аккаунта</h1>

<p class="pre_exit_txt">Вы уверены, что хотите выйти из аккаунта ?</p>

<form method="post" action="{% url 'logout' %}" class="exit_form_container">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
<div class="exit">
    <button type="submit" class="autorize_btn voity_btn exit_site">Выйти</button>
</div>
</form>
    </div>
{% endblock %}
