{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}
{% block extralinks %}
    <link type="text/css" rel="stylesheet" href="{% static '/css/account.css' %}">
{% endblock %}

{% block head_title %}Восстановить пароль{% endblock %}

{% block content %}
    <div class="gk_form_container index">

    <h1>Забыли пароль?</h1>
{#    {% if user.is_authenticated %}#}
{#    {% include "account/snippets/already_logged_in.html" %}#}
{#    {% endif %}#}



<div class="wrap">
<a href="https://t.me/Club_Docstar_bot?start=forgot_password">
  <button class="button_forgot_password" href="https://t.me/Club_Docstar_bot?start=forgot_password">Восстановить пароль</button>
</a>
</div>

    <h2>P.S. Нужно нажать на кнопку /start после перехода по кнопке</h2>


</div>
{% endblock %}
