.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.dark-substrate {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

.modal-content {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.search_doctors_modal .modal-content {
    width: 100%;
    margin: 0 auto;
    border-radius: 30px;
    background: #1E1E1E;
    color: white;
    max-height: 480px;
    overflow-y: scroll;
}

.search_doctors_modal {
    max-width: 600px;  /* должно совпадать с input */
    margin-top: 60px;
    position: absolute;
    z-index: 9999;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.mini_user_card {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
}

.mini_user_card:hover {
    cursor: pointer;
    background-color: #2E99FC;
}

.mini_user_avatar {
    width: 100px;
    height: 100px;
    min-height: 100px;
    min-width: 100px;
    overflow: hidden;
    position: relative;
    border-radius: 22px;
}

.mini_avatar {
    transform: scale(1.6) translateY(16%);
    width: 100%;
    height: 100%;
    border-radius: 22px;
    object-fit: cover;
    object-position: center;
}

.mini_doctor_name {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.mini_additional_info {
    color: #606060;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mini_doctor_info {
    text-align: left;
}

.mini_doctor_link {
    pointer-events: auto;
}

.search-city-spec-container {
    margin-top: 20px;
}

.city-block {
    display: flex;
    padding: 24px;
    align-items: center;

    .city-info {
        text-align: left;
        display: flex;
        flex-direction: column;

        .city-doctors-count {
            color: #606060;
        }
    }
}

.speciality-block {
    display: flex;
    padding: 24px;
    align-items: center;

    .speciality-info {
        text-align: left;
        display: flex;
        flex-direction: column;

        .speciality-doctors-count {
            color: #606060;
        }
    }
}

.city-block:hover {
    cursor: pointer;
    background-color: #2E99FC;
}

.speciality-block:hover {
    cursor: pointer;
    background-color: #2E99FC;
}

.search-title {
    display: flex;
    text-align: left;
    padding: 10px 0 10px 24px;
    font-size: 1.2rem;
}

.search-ico {
    width: 30px;
    height: 30px;
    overflow: hidden;
    position: relative;
    margin-right: 20px;

    img {
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

