/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml
*.env
*.log
*.sqlite3
/db/
/docstar_cache/
/extensions/
venv/
docstar_site/docstar/
docstar_site/user_photos/
__pycache__/
*.json
.idea/
myenv/