* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
}

/*.logo_dcs {*/
/*    display: none;*/

/*}*/

/*.logo_dcs img {*/
/*    display: none;*/
/*}*/

html, body {
    margin: 0;
    padding: 0;
}

@font-face {
}

.club_time {
    display: none;
    width: 350px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top: 150px;
    font-family: Circe, serif;
    font-weight: 900;
    font-size: 45px;
}

/*main*/

.index_container {
    height: 1900px;
}

.hello {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 45px;
    color: #2F9BFF;
    font-weight: 400;
    text-align: center;
    padding: 20px 0 10px 0;
}

.index_head_container {
    /*margin-top: 40px;*/
    width: 1200px;
    height: 80px;
    position: relative;
    margin: 0 auto;
}


.container_404 {
    background-image: url("../img/bg.png");
    width: 100%;
    background-size: 100% 100%;
    height: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
    position: relative;
}

.container_404 img {
    width: 1200px;
    height: 1000px;
    right: 0;
    position: absolute;
    /*z-index: 10;*/
}

.container_404 img.er {
    height: 800px;
}

.er {
    height: 500px;
    width: 656px;
    left: 39px;
    top: 100px;
    position: absolute;
    z-index: 0;
    /*image-orientation: unset;*/
    object-fit: unset;
}

.error_text {
    font-family: Circe, serif;
    /*font-style: Regular;*/
    top: 340px;
    font-size: 67px;
    vertical-align: Top;
    color: white;
    position: absolute;
    width: 800px;
    left: 39px;

}

.error_text.sec {
    top: 450px;
}

.a_404 {
    width: 250px;
    height: 64px;
    color: white;
    background-color: #2F9BFF;
    left: 400px;
    top: 684px;
    border-radius: 15px;
    box-shadow: 0 0 20px 0;
    position: relative;
    z-index: 5;
    display: block;
    text-decoration: none;
}

.btn_404 {
    font-family: Circe, serif;
    font-size: 16px;
    font-weight: 900;
    line-height: 68px;
    letter-spacing: 0;
    text-align: center;

}

.p_404 {
    top: 684px;
    font-family: Circe, serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 68px;
    letter-spacing: 0;
    text-align: left;

    left: 39px;
    position: absolute;
    color: white;
}

.error_text_container {
    height: 629px;
    left: 39px;
    top: 201px;
    border-radius: 0;
}

.index_head {
    margin-top: 20px;
    margin-left: 290px;
    width: 614px;
    height: 54px;
    color: #ffffff;
    text-align: center;
    z-index: 4;
    transform: rotate(2deg);
    background-color: #2F9BFF;
    border-radius: 7px;
    /*position: absolute;*/
}

.index_head strong {
    font-size: 37px;
    font-family: 'DrukTextWideTT', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 500;
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.lector {
    position: relative;
    height: 400px;
    width: 1200px;
    margin: 0 auto;
}

.head_anonce {
    position: absolute;
    text-align: left;
    font-size: 26px;
    font-family: 'Nunito', Arial, sans-serif;
    font-weight: 600;
    top: 38px;
    left: 352px;
    width: 483px;
}

.date {
    color: #2F9BFF;
    font-family: 'Nunito', Arial, sans-serif;
    font-size: 25px;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    position: absolute;
    top: 40px;
    right: 20px;
    width: 160px;
}

.doctor_anonce {
    width: 260px;
    height: 290px;
    top: 55px;
    image-orientation: revert;
    object-fit: cover;
    border-radius: 0;
    /*position: absolute;*/
}

.name_anonce {
    color: #000000;
    font-size: 20px;
    font-family: 'Nunito', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 200;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    position: absolute;
    top: 125px;
    left: 354px;
    width: 532px;
}

.name_anonce a {
    color: #2F9BFF;
    width: 185px;
}

.regalii {
    color: #000000;
    font-size: 20px;
    font-family: 'Nunito', Arial, sans-serif;
    line-height: 1.55;
    font-weight: 200;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    top: 173px;
    left: 354px;
    width: 579px;
    position: absolute;
}

.gk_form_container.index {
    width: 600px;
}

/*footer*/
footer {
    width: 100%;
    background-color: #1d1d3f;
    height: 200px;
    margin: 64px 0 0 0;
    bottom: 0;
    display: block;
}

/*nav-bar*/

.header {
    display: none;
    z-index: 100;
}

.nav_bar {
    width: 100%;
    background: #2F9BFF;
    background: linear-gradient(to right, #00c7c6, #006e6d);
    height: 100px;
    /*margin-top: -100px;*/
    /*position: fixed;*/
    position: relative;
    z-index: 5;
    display: block;
    text-align: center;
}

.nav_bar_container {
    width: 1200px;
    margin: 0 auto;
}

.header__burger-btn {
    position: relative;
    float: left;
    margin-left: 50px;
    width: 40px;
    height: 40px;
    border: none;
    display: none;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
    z-index: 102;
}


.header__burger-btn span {
    position: absolute;
    width: 70px;
    height: 7px;
    background-color: white;
    left: 5px;
    transition: transform .5s, opacity .5s;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-17px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(17px);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(-45deg);
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

.nav_bar_container a {
    border-color: transparent;
    color: white;
    text-decoration: none;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    display: inline-block;
    margin: 20px;
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    text-transform: uppercase;
    cursor: pointer;
}

.nav_bar_container a:hover {
    border: 1px solid white;
    padding: 20px 25px;
    font-size: 18px;
    border-radius: 25px;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    cursor: pointer;

}

.login_doc {
    background: linear-gradient(to right, #007978, #006e6d);
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    -webkit-background-clip: text;
    position: absolute;
    width: 100px;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    right: 20px;
    height: 100px;
    margin-top: -100px;
    z-index: 500;
    cursor: pointer;
}

.login_doc :hover {
    background: linear-gradient(to right, white, white);
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    -webkit-background-clip: text;
    cursor: pointer;
    color: #FFFFFF;
    /*border: unset;*/
}

.login_doc a {
    text-decoration: none;
    /*border: unset;*/
    position: relative;
    top: 35px;
}

.new_button {
    background: #2F9BFF; /* Синий цвет фона */
    color: #fff; /* Белый цвет текста */
    border: none; /* Убираем рамку */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    right: 400px;
    top: 62px;
    width: 170px;
    border-radius: 25px; /* Закруглить кнопку */
    position: absolute;
    cursor: pointer;

}

h3 {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    color: #2F9BFF;
    font-weight: 200;
    padding: 0 0 5px 0;
}

.choise_spec {
    width: 200px;
}

.choise_city {
    width: 200px;
}

.filter_speciallity_container {
    position: absolute;
    left: 100px;
    top: 50px;
}

.filter_city_container {
    position: absolute;
    left: 350px;
    top: 50px;
}

.conteiner {
    /*width: 1200px;*/
    margin: 0 auto;
    /*height: 2000px;*/
}

.conteiner {
    /*margin-top: 100px;*/
}

.filter_container {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 1200px;
    /*background-color: green;*/
    margin: 0 auto;
    position: relative;
    padding-bottom: 2rem;
    height: 150px;
}

.filter_container.open {
    display: none;
}

span {
    color: #2F9BFF;
    /*margin: 0 auto;*/
    text-align: center;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
}


.clear_btn {
    width: 170px;
    height: 48px;
    border: 2px solid #2F9BFF;
    position: absolute;
    bottom: 0;
    background: #ffffff; /* Убираем рамку */
    right: 200px;
    top: 62px;
    text-decoration: none;
    border-radius: 25px; /* Закруглить кнопку */
}

.n_c_button {
    width: 170px;
    height: 45%;
    margin-top: 12px;
    color: #2F9BFF;
    /*margin: 0 auto;*/
    text-align: center;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
}

/*autorize*/
label {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.input_info {
    padding-top: 15px;
}

.voity_btn {
    background-color: white;
    position: absolute;
    margin-top: 12px;
    border: 1px solid #00c9c8;
    border-radius: 25px;
    cursor: pointer;
}

.exit_site {
    margin-top: 0;
}

.secondaryAction {
    position: absolute;
    top: 200px;
    text-align: center;
    left: 107px;
}

.autorize {
    width: 350px;
    margin: 0 auto;
}


.autorize_btn {
    left: 0;
    position: relative;
    top: 15px;
    width: 300px;
    color: #00c9c8;
    text-decoration: none;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 22px;
}

.autorize_button {
    border-radius: 25px;
    border: 2px solid #2F9BFF;
    text-align: center;
    background-color: #101010;
    height: 58px;
    padding-top: 10px;
}

.autorize_buttonTrue {
    text-decoration: none;
    color: #ffffff;
    border-radius: 25px;
    width: 350px;
    height: 1px;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    top: 9px;
    position: absolute;
    /*margin: 0 auto;*/
}

.autorize_btnTrue {
    top: 7px;
    position: relative;
    background-color: #2F9BFF;
    text-decoration: none;
    border-radius: 25px;
    width: 350px;
    height: 50px;
    border: 2px solid #2F9BFF;
    /*text-align: center;*/
}

.autorizeTrue {
    width: 350px;
    margin: 0 auto;
}

.exit {
    margin: 0 auto;
    width: 300px;
    height: 48px;
}

.form_container.login {
    position: relative;
    text-align: center;
    width: 350px;
    height: 400px;
    top: 8px;
}

.pre_exit_txt {
    padding: 35px 0 10px 0;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    width: 350px;
}

.exit_form_container {
    position: relative;
    margin: 0 auto;
    width: 350px;
    /*cursor: pointer;*/
}

/*doctors*/

.all_doctors {
    text-align: center;
    /*max-h: 1200px;*/
    height: 100%;
    display: block;
}

.doctors_container {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 1200px;
    /*background-color: red;*/
    height: 500px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 25px;
    image-orientation: revert;
    object-fit: cover;
}

.user_card {
    width: 250px;
    height: 450px;
    outline: none;
    padding: 0;
    display: inline-block;
    position: relative;
    margin: 10px;
}

.user_avatar {
    width: 250px;
    height: 250px;
    float: left;
    margin: 0 0 10px;
    image-orientation: revert;
    object-fit: cover;
}

.doc_info {
    padding: 10px;
}

.user_name {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-weight: 900;
    font-size: 18px;
    margin-top: -2%;
    width: 250px;
    height: 50px;
    float: left;
    text-align: left;
}

.user_speciallity {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    width: 100%;
    height: 10%;
    text-align: left;
    position: absolute;
    bottom: 20%;
}

.user_city {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    width: 100%;
    position: absolute;
    bottom: 15%;
    text-align: left;
}

.user_info_btn {
    width: 100%;
    height: 10%;
    border: 2px solid #01abaa;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    background: #ffffff;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    text-transform: uppercase;
}

.user_info_btn div {
    width: 100%;
    height: 45%;
    margin-top: 5%;
    color: #2F9BFF;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

.user_info_btn:hover {
    color: #fff;
    background: #2F9BFF;
    tansition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

.user_info_btn:hover div {
    color: white;
}


/*doctor_card*/

h1 {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #01abaa;
    text-align: center;
    padding: 20px 0 10px 0;
}

h2 {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 200;
    text-align: center;
    padding: 0 0 20px 0;
}

.doctor_card {
    margin: 0 auto;
    width: 1000px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px silver;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: .0625rem solid #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
    padding: 0;

}

.card_content {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem 1.25rem;
    margin-bottom: 50px;
}

.doc_avatar {
    width: 100%;
    height: 300px;
    text-align: center;
    /*margin-top: 10%;*/
}

.doc_avatar .text {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.container_ava {
    width: 300px;
    height: 350px;
    /*margin-left: 2.5%;*/
    position: absolute;
}

.social_container {
    position: relative;
    width: 200px;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
    margin-left: 500px;
    margin-top: 5px;
}

.social_container a {

    text-decoration: none;
}

.line {
    width: 200px;
    height: 1px;
    border: 1px solid #01abaa;
    position: sticky;
    background-color: #01abaa;

}

.social_container.subs {
    position: absolute;
    top: 5px;
    left: 200px;
    width: 300px;
}

.social_container.subs h2 {
    padding: 0;
    font-size: 15px;

}

.subs p {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    color: #01abaa;
    font-weight: 900;
    width: 100px;
}


.edit_block {
    position: absolute;
    right: 4px;
    bottom: 5px;
    cursor: pointer;
}

.prodoc_btn {
    position: absolute;
    bottom: 50px;
    left: 480px;
    width: 300px;
    height: 50px;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 22px;
    font-weight: 600;
    background-color: #01abaa;
    color: white;
    border: 0;
    cursor: pointer;
}

.edit_btn {
    border-radius: 25px;
    color: #00dcdb;
    background-color: #101010;
    width: 200px;
    cursor: pointer;
    border: none;
    height: 30px;
    font-size: 20px;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
}


.blog {
    left: 500px;
    position: relative;
    width: 400px;
    /*height: 40px;*/
    margin-top: 10px;
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
    /*overflow: hidden;*/
}

.blog p {
    text-align: left;
    font-size: 16px;
    color: #101010;
    height: auto;
    top: 15px;
    /*position: absolute;*/
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 2;*/
    /*-webkit-box-orient: vertical;*/
    /*overflow: hidden;*/
    /*white-space: nowrap;*/
}

/*.direct{*/
/*    height: 30px;*/
/*}*/

/*.theme{*/
/*    margin-top: 50px;*/
/*}*/
.blog_head {
    width: 450px;
    /*height: 30px;*/
    /*display: block;*/
    /*position: relative;*/
}

.blog_head a {
    color: #01abaa;
    font-size: 18px;
}

/*gk_respo*/

.form_container {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 1200px;
    /*background-color: green;*/
    margin: 0 auto;
    position: relative;
    padding-bottom: 2rem;
    height: 150px;
}

.form_email {
    margin-top: 30px;
    margin-left: 475px;
}

.new_button .login {
    top: 200px;
}

.export_id {
    display: none;
}


@media screen and (max-width: 1100px) {

    .header__burger-btn {
        /*background-color: #01abaa;*/
        display: block;
        transition: transform .5s;

    }

    .doctors_container {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
        width: 1000px;
        margin: 0 auto;
    }

    .nav_bar_container {
        display: none;
    }

    .header {
        display: block;
    }

    .menu {
        position: absolute;
        left: -400px;
        top: 0;
        width: 400px;
        background-color: #01abaa;
        padding: 70px 30px 30px 30px;
        transition: transform .5s;
        z-index: 100;
        font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;

    }

    .menu_list {
        font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
        display: block;
        text-align: left;
    }

    .menu_item {
        margin-top: 20px;
        border: 1px solid white;
        border-radius: 5px;
    }

    .menu_item a {
        font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
        font-weight: 400;
        text-align: center;

    }

    .menu_link {
        font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
        color: white;
        font-size: 40px;
        display: block;
        padding: 20px 0;
        text-decoration: none;
        cursor: pointer;
    }

    .header.open .menu {
        transform: translateX(100%);
        z-index: 100;

    }

    .doctors_container {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
        width: 1000px;
        margin: 0 auto;
    }

    .filter_container {
        width: 1000px;
        height: 200px;
    }

    .new_button {
        right: 200px;
    }


    .clear_btn {
        right: 415px;
        top: 120px;
    }

}

@media screen and (max-width: 1000px) {

    .login_doc {
        margin-top: 0;
    }

    h3 {
        font-size: 25px;
        font-weight: 600;
    }

    .filter_speciallity_container {
        position: absolute;
        left: 0;
        top: 20px;
    }

    .user_card {
        width: 700px;
        height: 470px;
        position: relative;
    }

    .user_avatar {
        width: 400px;
        height: 400px;
    }

    .choise_spec {
        width: 700px;
        height: 50px;
        font-size: 20px;
    }

    .choise_city {
        width: 700px;
        height: 50px;
        font-size: 20px;
    }

    .doc_info {
        position: relative;
    }

    .user_name {
        padding-left: 50px;
        font-size: 30px;
        height: 100%;
        margin-top: 20px;
    }

    .user_speciallity {
        font-size: 25px;
        width: 35%;
        height: 100%;
        left: 450px;
        top: 170px;
        bottom: unset;
    }

    .user_city {
        font-size: 25px;
        width: 35%;
        height: 100%;
        left: 450px;
        top: 270px;
        bottom: unset;
    }

    .user_info_btn {
        width: 100%;
        height: 10%;
        border: 2px solid #2F9BFF;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        background: #01abaa;
        tansition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
        text-transform: uppercase;
    }

    .user_info_btn div {
        width: 100%;
        height: 45%;
        /*color: red;*/
        margin-top: 5px;
        color: #FFFFFF;
        font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
        font-size: 25px;
        text-align: center;
    }

    .user_info_btn:hover {
        color: #2F9BFF;
        background: #FFFFFF;
        tansition: all .3s linear;
        -webkit-transition: all .3s linear;
        -moz-transition: all .3s linear;
    }

    .user_info_btn:hover div {
        color: #2F9BFF;
    }


    .filter_city_container {
        position: absolute;
        left: 0;
        top: 150px;
    }

    .social_container {
        display: block;
        /*position: static;*/
        margin-left: 400px;
        text-align: center;
    }

    h2 {
        font-size: 30px;
        width: 550px;
        margin: 10px auto;
    }

    /*form{height: 300px}*/
    .new_button {
        left: 15px;
        top: 290px;
        width: 300px;
        font-size: 22px;
    }

    .clear_btn {
        right: 15px;
        top: 290px;
        font-size: 22px;
        width: 300px;
        height: 57px;
    }

    .n_c_button {
        margin: 15px auto;
    }

    .filter_container {
        width: 700px;
        height: 400px;
    }

    .text a {
        font-size: 25px;
    }

    .doctors_container {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
        width: 800px;
        margin: 0 auto;
    }

    .doctor_card {
        width: 800px;
        height: 1250px;
        position: relative;
    }

    .container_ava {
        width: 500px;
        height: 500px;
        left: 150px;
    }

    .doc_avatar {
        width: 500px;
        height: 500px;
    }


    .social_container {
        display: block;
        /*position: static;*/
        margin-top: 600px;
        margin-left: 275px;
        text-align: center;
        font-size: 30px;
    }

    .vk {
        margin-top: 20px;
    }

    .tg {
        margin-top: 20px;
    }

    .dzen {
        margin-top: 20px;
    }

    .line {
        width: 400px;
        left: -50%;
        height: 1px;
        border: 1px solid #01abaa;
        position: relative;
    }

    .social_container.subs {
        /*position: absolute;*/
        top: 20px;
        left: 230px;
        padding: 0;
        width: 50px;
    }

    .social_container.subs h2 {
        display: none;
    }

    .subs p {
        font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
        font-size: 20px;
        color: #01abaa;
        font-weight: 900;
    }


    .edit_block {
        left: 130px;
        bottom: 15px;
    }

    .prodoc_btn {
        width: 500px;
        left: 150px;
        font-size: 30px;
        font-weight: 600;
        background-color: #01abaa;
        color: white;
        border: 0;
        cursor: pointer;
    }


    .blog {
        left: 75px;
        position: relative;
        width: 600px;
        height: 40px;
        margin-top: 30px;
        text-align: center;
    }

    .blog_head {
        width: 600px;
        text-align: center;
        height: 100%;
    }

    .blog_head p {
        text-align: center;
        height: 100%;
        font-size: 25px;
    }

    .blog_head a {
        font-size: 25px;
        left: 0;
        width: 100%;
    }

    .theme {
        margin-top: 100px;
    }

    h1 {
        font-size: 50px;
        width: 600px;
        margin: 0 auto;
    }

    .logo_dcs {
        margin: 0 auto;
        position: relative;
        display: block;
    }

    .logo_dcs img {
        display: block;
        top: 20px;
        border-radius: 0;
        width: 240px;
        height: 140px;
        padding-bottom: 20px;
        position: relative;
        left: 38%;
        margin-right: -62%;
    }
}

@media screen and (max-width: 768px) {
    .index_head_container {
        /*margin-top: 40px;*/
        width: 350px;
        height: 80px;
        position: relative;
        margin: 0 auto;
    }

    .user_card {
        width: 700px;
    }


    .vova {
        display: none
    }

    .container_404 {
        background-image: url("../img/bg.png");
        width: 100%;
        background-size: 100% 100%;
        height: 1000px;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0;
        position: relative;
    }

    .container_404 img.er {
        height: 500px;
        width: 700px;
        /*top: 415px;*/
        position: absolute;
        z-index: 0;

    }

    .container_404 img {
        width: 1200px;
        height: 1000px;
        right: 0;
        position: absolute;
        /*z-index: 10;*/
    }


    .gk_form_container.index {
        width: 350px;
        text-align: center;

    }


    .doctors_container {
        padding-left: 1.875rem;
        padding-right: 1.875rem;
        width: 400px;
        margin: 0 auto;
    }


    .doctor_card {
        width: 350px;
        height: 900px;
        position: relative;
    }

    .social_container {
        display: block;
        /*position: static;*/
        margin-top: 375px;
        margin-left: 55px;
        text-align: center;
    }

    .vk {
        margin-top: 20px;
    }

    .tg {
        margin-top: 20px;
    }

    .dzen {
        margin-top: 20px;
    }

    .line {
        width: 200px;
        height: 1px;
        border: 1px solid #01abaa;
        position: relative;
    }

    .social_container.subs {
        /*position: absolute;*/
        top: 20px;
        left: 230px;
        padding: 0;
        width: 50px;
    }

    .social_container.subs h2 {
        display: none;
    }

    .subs p {
        font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
        font-size: 20px;
        color: #01abaa;
        font-weight: 900;
    }


    .edit_block {
        left: 130px;
        bottom: 15px;
    }

    .prodoc_btn {
        /*bottom: 100px;*/
        left: 25px;
        font-size: 22px;
        font-weight: 600;
        background-color: #01abaa;
        color: white;
        border: 0;
        cursor: pointer;
    }


    .blog {
        left: 0;
        position: relative;
        width: 200px;
        height: 50px;
        padding-top: 20px;
    }

    .blog_head {
        width: 200px;
    }

    .blog_head a {
        position: absolute;
        top: -10px;
    }


}

/*chek_gk*/

.gk_form_container {
    position: relative;
    margin: 0 auto;
    width: 350px;
    height: 450px;
    text-align: center;
    /*cursor: pointer;*/
}

.chek_gk {
    background: #01abaa; /* Синий цвет фона */
    color: #fff; /* Белый цвет текста */
    border: none; /* Убираем рамку */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    /*right: 400px;*/
    /*top: 62px;*/
    border-radius: 25px; /* Закруглить кнопку */
    position: absolute;
    cursor: pointer;
    width: 230px;
    right: 60px;
    font-size: 18px;
}

.form_email {
    margin: 0 auto;
    position: relative;
    /*text-align: center;*/
}

.email_input {
    width: 100%;
}

.gk_btn {
    /*left: 500px;*/
    top: 40px;
}

.gk_login {
    top: 130px;
    text-decoration: none;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    background: #ffffff; /* Синий цвет фона */
    color: #01abaa; /* Белый цвет текста */
    border: 1px solid #01abaa;
    font-size: 18px;
}

/*edit_form*/

.new_photo_form {
    width: 350px;
    margin: 0 auto;
    text-align: center;
    top: 25px;
}

.edit_submit_btn {
    width: 200px;
    left: 75px;
    top: 120px;
}

.text_edit_photo {
    color: #1c7279;
    font-weight: 900;
    font-size: 23.5px;
    text-align: center;
}

.edit_input {
    font-size: 15px;
    text-align: center;
}

.ps_edit {
    position: absolute;
    top: 200px;
    left: 0;
    font-size: 15px;
}

/*signup*/
/*.form_container.signup{*/

/*}*/

.password_input {
    width: 300px;
}

.password2_input {
    /*padding-top: ;*/
    width: 300px;
}

input {
    width: 300px;
}

.set_password {
    padding-top: 15px;
}

.voity_btn.signup {
    top: 15px;
    color: #019f9e;
    border: 1px solid #1c7279;
    font-size: 22px;
    width: 300px;
    height: 50px;
}


@media screen and (max-width: 1000px) {
    .container_404 {
        background-image: url("../img/bg.png");
        width: 100%;
        height: auto;
        object-fit: cover;
        min-height: 140vh;
        background-size: 100% 100%;
        display: flex;
        margin: 0 auto;
        box-sizing: border-box;
        padding: 0;
        position: relative;
    }

    .container_404 img.er {
        height: 20%;
        width: 600px;
        left: 0;
        position: absolute;
        z-index: 0;
        top: -30px;
    }

    .dop_container {
        width: 100vh;

    }

    .container_404 img {
        /*width: px;*/
        width: 60vh;
        top: 200px;
        margin: 200px auto;
        /*height: 95%;*/
        right: 0;
        position: absolute;
        /*top: 130px;*/
    }

    .error_text {
        top: 320px;
        font-size: 80px;
        width: 400px;
        left: 300px;
        font-weight: 900;
    }

    .error_text.sec {
        top: 700px;
        left: 150px;
        font-size: 70px;
        width: 300px;
    }

    .a_404 {
        width: 100%;
        height: 100px;
        color: white;
        background-color: #01abaa;
        margin-top: 700px;
        left: 0;
        border-radius: 15px;
        box-shadow: 0 0 20px 0;
        position: absolute;
        z-index: 5;
        display: block;
        text-decoration: none;
    }

    .btn_404 {
        font-size: 50px;
        margin-top: 15px;
    }

    .p_404 {
        top: 1250px;
        font-family: Circe, serif;
        font-size: 60px;
        font-weight: 900;
        line-height: 68px;
        letter-spacing: 0;
        text-align: left;

        left: 100px;
        position: absolute;
        color: white;
    }

    .club_time {
        display: block;
    }

}

.top_img {
    position: relative;
    width: 350px;
    height: 50px;
    margin: 0 auto;
    top: 0;
}

header img {
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    margin: 0 auto;
}

.doctors_list_header {
    color: white;
}

.doctors_list_container {
    background-color: #0E0F0F;
}

.doctor_name {
    color: white;
}

.user_additional_info {
    color: #717171;
    text-align: left;
}

.user_card {
    background-color: #1A1A1A;
}