*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "DrukWideCyTTHeavy";
    src: url("../fonts/DrukWideCyTTHeavy.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*nav-bar*/

.header{
    display: none;
    z-index: 100;
}

.nav_bar{
    width: 100%;
    background: #01abaa;
    background: linear-gradient(to right, #00c7c6, #006e6d);
    height: 100px;
    position: relative;
    text-align: center;
}

.nav_bar_container{
    width: 1200px;
    margin: 0 auto;
    background: #161616;
}

.header__burger-btn{
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    border: none;
    display: none;
    margin-top: 20px;
    cursor: pointer;
    background-color:transparent;
    z-index: 102;
}



.header__burger-btn span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    left: 5px;
    transition: transform .5s, opacity .5s;
}

.header__burger-btn span:nth-child(1){
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3){
    transform: translateY(10px);
}

.header.open .header__burger-btn span:nth-child(2){
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(1){
    transform: translateY(0) rotate(-45deg);
}

.header.open .header__burger-btn span:nth-child(3){
    transform: translateY(0) rotate(45deg);
}

.nav_bar_container a{
    border-color:transparent;
    color: white;
    text-decoration: none;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    display: inline-block;
    margin: 20px;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 400;
    tansition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	text-transform: uppercase;
    cursor: pointer;
}

.nav_bar_container a:hover {
	border: 1px solid white;
    padding: 20px 25px;
    font-size: 25px;
    border-radius: 25px;
	tansition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
    cursor: pointer;

}

.login {
    background: linear-gradient(to right, #007978, #006e6d);
    -webkit-text-fill-color: transparent;
     text-transform: uppercase;
    -webkit-background-clip: text;
    position: absolute;
    width: 100px;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    right: 20px;
    top: 35px;
    cursor: pointer;
}

.login :hover{
    background: linear-gradient(to right, white, white);
    -webkit-text-fill-color: transparent;
     text-transform: uppercase;
    -webkit-background-clip: text;
    cursor: pointer;

}

.login a{
        text-decoration: none;
}

.new_button {
    background: #01abaa; /* Синий цвет фона */
    color: #fff; /* Белый цвет текста */
    border: none; /* Убираем рамку */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    right: 400px;
    top: 62px;
    border-radius: 25px; /* Закруглить кнопку */
    position: absolute;
}

h3{
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    color: #01abaa;
    font-weight: 200;
    padding: 0 0 5px 0;
}

.choise_spec{
    width: 200px;
}

.choise_city{
    width: 200px;
}

.filter_speciallity_container{
    position: absolute;
    left: 100px;
    top: 50px;
}

.filter_city_container{
    position: absolute;
    left: 350px;
    top: 50px;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
.filter_container{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 1200px;
    /*background-color: green;*/
    margin: 0 auto;
    position: relative;
    padding-bottom: 2rem;
    height: 150px;
}

.filter_container.open{
    display: none;
}

span{
    color: #01abaa;
    /*margin: 0 auto;*/
    text-align: center;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
}


.clear_btn{
    width: 170px;
    height: 48px;
    border: 2px solid #01abaa;
    position: absolute;
    bottom: 0;
	background:#ffffff; /* Убираем рамку */
    right: 200px;
    top: 62px;
    text-decoration: none;
    border-radius: 25px; /* Закруглить кнопку */
}
.n_c_button{
    width: 170px;
    height: 45%;
    margin-top: 12px;
    color: #01abaa;
    /*margin: 0 auto;*/
    text-align: center;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
}


/*doctors*/

.all_doctors{
    text-align: center;
    /*max-width: 1200px;*/
}

.doctors_container{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 1200px;
    /*background-color: red;*/
    height: 500px;
    margin: 0 auto;
}

img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 25px;
}

.user_card{
    width: 250px;
    height: 450px;
    outline: none;
    padding: 0;
    display: inline-block;
    position: relative;
    margin: 10px;
}

.user_avatar{
    width: 250px;
    height: 250px;
    float: left;
    margin: 0 0 10px;
}

.doc_info{
    padding: 10px;
}

.user_name{
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin-top: -2%;
    width: 250px;
    height: 50px;
    float: left;
    text-align: left;
}

.user_speciallity {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 20%;
}

.user_city {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    width: 100%;
    position: absolute;
    bottom: 15%;
}

.user_info_btn{
    width: 100%;
    height: 10%;
    border: 2px solid #01abaa;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
	background:#ffffff;
	tansition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	text-transform: uppercase;
}

.user_info_btn div{
    width: 100%;
    height: 45%;
    margin-top: 5%;
    color: #2F9BFF;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

.user_info_btn:hover {
	color: #fff;
	background: #2F9BFF;
	tansition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
}

.user_info_btn:hover div {
  color: white;
}


/*doctor_card*/

h1 {
    font-family: "DrukWideCyTTHeavy", sans-serif;
    /*font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;*/
    font-size: 40px;
    color: #01abaa;
    font-weight: 200;
    text-align: center;
    padding: 20px 0 10px 0;
}

h2{
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 200;
    text-align: center;
    padding: 0 0 20px 0 ;
}

.doctor_card{
    width: 1000px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px silver;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: .0625rem solid #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
}

.card_content{
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem 1.25rem;
}

.doc_avatar{
    width: 100%;
    height: 300px;
    text-align: center;
    /*margin-top: 10%;*/
}

.doc_avatar .text {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.container_ava{
    width: 300px;
    height: 350px;
    /*margin-left: 2.5%;*/
    position: absolute;
}

.social_container{
    position: relative;
    width: 200px;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
    margin-left: 500px;
    margin-top: 5px;
}

.line{
    width: 200px;
    height: 1px;
    border: 1px solid #01abaa;
    position: sticky;
}

/*gk_respo*/

.form_container{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 1200px;
    /*background-color: green;*/
    margin: 0 auto;
    position: relative;
    padding-bottom: 2rem;
    height: 150px;
}

.form_email{
    margin-top: 30px;
    margin-left: 475px;
}

.gk_btn{
    left: 500px;
    top: 50px;
}

.export_id{
    display: none;
}


@media screen and (max-width: 1100px) {

    .header__burger-btn{
        /*background-color: #01abaa;*/
        display: block;
        transition: transform .5s;

    }

    .nav_bar_container{
        display: none;
    }

    .header{
        display: block;
    }

    .menu{
        position: absolute;
        left: -250px;
        top: 0;
        width: 250px;
        background-color: #01abaa;
        padding: 60px 20px 20px 20px;
        transition: transform .5s;
        z-index: 100;
    }

    .menu_list{
        display: block;
        text-align: left;
        /*font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;*/
        /*font-weight: 400;*/
    }

    .menu_item a{
        font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
        font-weight: 400;
    }

    .menu_link{
        color: white;
        font-size: 18px;
        display: block;
        padding: 10px 0;
        text-decoration: none;
        cursor: pointer;
    }

    .header.open .menu{
        transform: translateX(100%);
        z-index: 100;

    }

    .doctors_container{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 1000px;
    margin: 0 auto;
    }

    .filter_container{
        width: 1000px;
        height: 200px;
    }

    .new_button {
    right: 200px;
    }



  .clear_btn{
    right: 415px;
    top: 120px;
    }

}

@media screen and (max-width: 900px) {


    .doctors_container{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 800px;
    margin: 0 auto;
    }

    .filter_container{
    width: 800px;
        height: 200px;
    }

    .filter_speciallity_container{
        position: absolute;
        left: 190px;
        top:10px;
    }

    .filter_city_container{
        position: absolute;
        left: 410px;
        top: 10px;
    }

    /*form{height: 300px}*/
    .new_button {
    right: 316px;
    top: 70px;
    }


    .clear_btn{
    right: 315px;
    top: 125px;
    }

}

@media screen and (max-width: 768px) {

    .filter_speciallity_container{
        position: absolute;
        left: 100px;
        top: 20px;
    }

    .filter_city_container{
        position: absolute;
        left: 100px;
        top: 100px;
    }

    /*form{height: 300px}*/
    .new_button {
    right: 116px;
    top: 170px;
    }

    .clear_btn{
    right: 115px;
    top: 230px;
    }

    .filter_container{
    width: 400px;
    height: 300px;
    }

    .doctors_container{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 400px;
    margin: 0 auto;
    }

    .doctor_card{
         width: 690px;
         height: 400px;
     }
}

@media screen and (max-width: 600px) {

    .doctors_container{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 400px;
    margin: 0 auto;
    }


    .doctor_card{
         width: 350px;
         height: 600px;
     }

    .social_container{
        /*position: static;*/
        margin-top: 375px;
        margin-left: 55px;
        text-align: center;
    }

    .vk{
        margin-top: 20px ;
    }

    .tg{
        margin-top: 20px ;
    }
    .dzen{
        margin-top: 20px ;
    }

    .line{
        width: 200px;
        height: 1px;
        border: 1px solid #01abaa;
        position: relative;
    }

}
