{% extends 'base.html' %}
{% load cache %}
{% load static %}
{% block title %}
    Страница не найдена
{% endblock %}

{% block extralinks %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/404.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/search_header.css' %}">

    <link type="text/css" rel="stylesheet" href="{% static 'css/mobile/mobile_404.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/mobile/mobile_search_header.css' %}">

    <script src="{% static "js/main_page.js" %}"></script>
{% endblock %}

{% block content %}
    {% include "docstar/modals/search_doctors_modal.html" %}

    <div class="not-found-container">
        <div class="not-found-page">
            <div class="not-found-content">
                <div></div>
                <div class="error_code">Ошибка 404</div>
                <div class="error_description">Неправильно набран адрес или такой страницы не существует</div>
                <a class="user_info_btn_container" href="https://t.me/maxim_jordan">
                    <div class="user_info_btn">
                        <div class="user_info_btn_text">Сообщить об ошибке</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
