{% extends 'base.html' %}

{% block content %}
    <h1>А ты точно есть в клубе?</h1>

    <div class="gk_form_container">
    <form action="{% url 'chek_getcourse_result' %}" method="get" class="form_email">
        <input type="email" class="email_input" name="email" placeholder="Введите почту, если не авторизованы на сайте...">
        <button type="submit" class="chek_gk gk_btn">Проверить меня на участие в клубе</button>
    </form>
        {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}">
            <button  class="chek_gk gk_login">Выйти</button>
        </a>

        {% else %}
        <a href="{% url 'login' %}">
            <button  class="chek_gk gk_login">Я авторизован на этом сайте (Войти)</button>
        </a>
        {% endif %}
    </div>
{% endblock %}