{% load static %}
{#{% load cache %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Спасибочки</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/book.css' %}">
</head>
<body>
<div class="container_book">
    <p class="text_head_1">ВСЕМ ПРИДЭП!</p>
    <p class="text_head_2">ВСЕМ ПРИДЭП!</p>
    <p class="text_head_3">ВСЕМ ПРИДЭП!</p>
    <p class="text_head_4">ВСЕМ ПРИДЭП!</p>
    <p class="text_head_5">ВСЕМ ПРИДЭП!</p>
    <div class="photo">
        <div class="vova_photo"><img class="stupid" src="{% static "img/Вова по пояс 1.png" %}"></div>
        <div class="ellips_photo">
            <div></div>
        </div>
    </div>
    <div class="flash"><img src="{% static "img/pngwing 2.png" %}"></div>
    <div class="flash flash_2"><img src="{% static "img/pngwing 3.png" %}"></div>

    <div class="text_thanks"><p>Спасибо за оплату!</p></div>
    <div class="go_read_txt"><p>Заходи в канал и читай книгу</p></div>
    <div class="book_button">
        <a class="a_book"
           href="https://salebot.site/r/30a0e699d9cd0b783249d4ae82253b1f_1?uid={{ uid }}&gkname={{ gkname }}&gkphone={{ gkphone }}&gkemail={{ gkemail }}">
            <div class="btn_404">КАНАЛ С КНИГОЙ</div>
        </a>
    </div>
    <div class="go_tech">
        <p>После нажатия на кнопку вы попадете в бот техподдержки DOCSTAR.</p>
        <p>Нажмите «начать» и получите уникальную ссылку на Канал с Книгой</p>
    </div>
    {#    <div class="button_tech_support">#}
    {#        <a class="a_tech" href="https://t.me/Club_Docstar_bot?start=tech_support">#}
    {#            <div class="btn_404">ПЕРЕЙТИ</div>#}
    {#        </a>#}
    {#    </div>#}

</div>
</body>
</html>