{% extends 'base.html' %}
{#{% load cache %}#}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}

{% block extralinks %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/main_page.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/search_header.css' %}">

    <link type="text/css" rel="stylesheet" href="{% static 'css/mobile/mobile_main_page.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/mobile/mobile_search_header.css' %}">

    <script src="{% static "js/pagination.js" %}"></script>
    <script src="{% static 'js/subscribers_slider.js' %}"></script>
    <script src="{% static "js/main_page.js" %}"></script>
{% endblock %}

{% block nav_bar %}
{% endblock %}

{% block content %}
    <div class="container doctors_list_container">
        <div class="doctors_wrapper">

            {% include "includes/doctor_filter.html" %}
            <div class="doctors_container" data-component="list">
                <div class="main-title">
                    <h1 class="doctors_list_header"><span class="single-base">Единая база </span><span>врачей-блогеров</span></h1>
                    <p class="doctors_list_header_description white_text">Поиск коллег для реклам и коллабораций по соцсетям, специальностям и городам</p>
                </div>
                <div class="active_filters_wrapper">
                </div>

                <div class="all_doctors">
                </div>

                <div class="pagination_container">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
