{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block extralinks %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/search_header.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/doctor_detail.css' %}">

    <link type="text/css" rel="stylesheet" href="{% static 'css/mobile/mobile_search_header.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/mobile/mobile_doctor_detail.css' %}">

    <script src="{% static "js/doctor_detail.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="doctor_detail_card_container">
        <div class="doctor_detail_card">
            <div class="container_ava">
                <div class="doc_avatar">
                    <img class="avatar" src="{{ doctor.avatar_url | default_if_none:"#" }}">
                </div>
            </div>
            <div class="doctor_info_wrapper">
                <div class="doctor_info">
                    <div class="main_block">
                        <div class="doctor_name">
                            <h1>{{ doctor.name }}</h1>
                        </div>

                        <div class="doctor_city_speciallity_wrapper">
                            <div class="doctor_all_specialties_wrapper">
                                <div class="doctor_city_wrapper">
                                    <div class="doctor_city">
                                        <span>{{ city_help_text }}: </span><span>{{ additional_doctor_cities_str }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="doctor_all_specialties_wrapper">
                                <div class="doctor_speciallity_wrapper">
                                    <a href="{% url 'homepage' %}?speciality={{ doctor.speciallity.id }}">
                                        <div class="doctor_speciallity">
                                            <p>{{ doctor.speciallity }}</p>
                                        </div>
                                    </a>
                                </div>
                                {% for speciality in additional_doctor_specialities %}
                                    <div class="doctor_additional_speciallity_wrapper">
                                        <a href="{% url 'homepage' %}?speciality={{ speciality.id }}">
                                            <div class="doctor_additional_speciallity">
                                                <p>{{ speciality }}</p>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="additional_information">
                        {% if doctor.main_blog_theme %}
                            <div class="additional_block">
                                <p class="theme">
                                    <span>Тематика блога:</span>
                                    {{ doctor.main_blog_theme }}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    {% if doctor.tg_url %}
                        <a class="prodoc_btn_wrapper" href="{{ doctor.tg_url }}" target="_blank"
                           rel="noopener noreferrer">
                            <div class="prodoc_btn">
                                <p class="prodoc_btn_text">Связаться</p>
                            </div>
                        </a>
                    {% endif %}
                </div>
                <div class="doctor_actions">
                    {% if doctor.tg_subs_count and doctor.tg_subs_count != 0 and doctor.tg_channel_url %}
                        <div class="subscribers_link_wrapper">
                            <a class="subscribers_link" href="{{ doctor.tg_channel_url }}" target="_blank"
                               rel="noopener noreferrer">
                                <img class="social_icon" src="{% static "img/logos/telegram_logo.png" %}">
                                <div class="subs_text">
                                    <span class="subs_count">{{ doctor.tg_subs_count }}</span>
                                    <span>{{ doctor.tg_subs_count_text }}</span>
                                </div>
                                <div class="subs_ico_link">
                                    <img src="{% static "img/icons/doc_detail/subs_link_ico.svg" %}">
                                </div>
                            </a>
                            <div class="last_updated_date">Дата последнего обновления: {{ doctor.tg_last_updated_date }}</div>
                        </div>
                    {% endif %}
                    <div class="society_block">
                        {% if doctor.inst_url %}
                            {% include "../includes/social_link.html" with url=doctor.inst_url img_url="img/logos/Instagram_icon.png" label="Профиль в Instagram" %}
                        {% endif %}

                        {% if doctor.vk_url %}
                            {% include "../includes/social_link.html" with url=doctor.vk_url img_url="img/logos/vk_logo.png" label="Профиль в VK" %}
                        {% endif %}

                        {% if doctor.dzen_url %}
                            {% include "../includes/social_link.html" with url=doctor.dzen_url img_url="img/logos/dzen_logo.png" label="Профиль в Dzen" %}
                        {% endif %}

                        {% if doctor.youtube_url %}
                            {% include "../includes/social_link.html" with url=doctor.youtube_url img_url="img/logos/Youtube_logo.png" label="Профиль в YouTube" %}
                        {% endif %}

                        {% if doctor.prodoctorov %}
                            {% include "../includes/social_link.html" with url=doctor.prodoctorov img_url="img/logos/internet.svg" label="Свой сайт" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}