{% extends 'base.html' %}

{% block title %}
    {{title}}
{% endblock %}


{% block content %}
<div class="conteiner">
    <h1>Участники клуба</h1>

    <div class="filter_container">
    <h1>Фильтр</h1>
    <form action="{% url 'doctors__filter' %}" method="get">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="filter_speciallity_container">
        <h3>Специальности</h3>
        <select name="speciallity">
            {% for speciallity in view.get_speciallity %}
            <option name="speciallity" value="{{ speciallity.id }}">
                <span class="speciallity_name">{{ speciallity.name }}</span>
            </option>
            {% endfor %}
        </select>
    </div>


    <div class="filter_city_container">
        <h3>Города</h3>
        <select name="city">
            {% for city in view.get_citys %}
            <option name="city" value="{{ city.id }}">
                <span class="city_name">{{ city.name }}</span>
            </option>
            {% endfor %}
        </select>
    </div>
    <h2>12345</h2>
    <div class="filter_btn">
        <button class="new_button" type="submit">Применить фильтр</button>
    </div>
    </form>
    </div>
    <div class="doctors_container" data-component="list">
        <div class="all_doctors">
            {% for user in users %}
            <div class="user_card" >

                <div class="user_avatar">
                {% if user.avatar is not NULL %}
                    <img class="avatar" src="{{ user.avatar_url | default_if_none:"#"}}">
                {# {% else %}#}
                {#<img class="avatar" src="{{user.non_avatar}}">#}
                {% endif %}
                </div>
                <div class="doc_info">
                    <div class="user_name">
                        <a>{{ user.name }}</a>
                    </div>

                    <div class="user_speciallity">
                        <a>Специальность: {{ user.speciallity }}</a>
                    </div>

                    <div class="user_city">
                        <a>Город: {{ user.city }}</a>
                    </div>
                </div>
                <a href="{{ user.get_absolute_url }}">
                <div class="user_info_btn">
                    <div class="user_info_btn_text" >Подробнее</div>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}