{% extends 'base.html' %}
{#{% load cache %}#}
{% load static %}
{% block title %}
    Врачи MEDBLOGERS
{% endblock %}

{% block extralinks %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/main_page.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/search_header.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/social_link_sub.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/myLoader/myLoaderSpinner.css' %}">

    <link type="text/css" rel="stylesheet" href="{% static 'css/myLoader/myLoaderSpinner.css' %}">

    <link type="text/css" rel="stylesheet" href="{% static 'css/mobile/mobile_main_page.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/mobile/mobile_search_header.css' %}">

    <script src="{% static "js/statistics_main_page.js" %}"></script>
    <script src="{% static "js/pagination.js" %}"></script>
    <script src="{% static 'js/subscribers_slider.js' %}"></script>
    <script src="{% static "js/main_page.js" %}"></script>
{% endblock %}

{% block nav_bar %}
{% endblock %}

{% block content %}
    <div class="container doctors_list_container">
        <div class="doctors_wrapper">


            {% include "includes/doctor_filter.html" %}
            <div class="doctors_container" data-component="list">
             <div id="statistics_wrapper">
                 <div class="statistics_loader"></div>
                 <div class="statistics">
                     <div>Врачей в базе: <span class="statistics_badge" id="number_of_doctors"></span></div>
                     <div>Общее количество подписчиков <span class="block_nowrap">у врачей: <span class="statistics_badge" id="number_of_subs_tg"></span></span></div>
                 </div>
             </div>

            <div class="search-doctors-wrapper">
                <div class="search-doctors-container">
                    <img class="lupa" src="{% static "img/lupa.svg" %}">
                    <input class="search-doctors-input" type="text" placeholder="Найдем для вас врача...">
                    <div class="dark-substrate"></div>
                </div>
                <div class="settings_icon_wrapper">
                    <span class="material-icons">
                        tune
                    </span>
                </div>
                 <div class="modal search_doctors_modal">
                     <div class="modal-content"></div>
                 </div>
            </div>



                <div class="active_filters_wrapper">
                </div>

                <div class="all_doctors">
                </div>

                <div class="pagination_container">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
