{% extends 'base.html' %}

{% block content %}
    <div class="gk_form_container index">
        <form method="post" enctype="multipart/form-data" class="form_container new_photo_form">
            {% csrf_token %}
            {#    {{ form.as_p }}#}
            <p>
                <label class="form_label" for="id_photo">
                    <h2 class="text_edit_photo">Выберите фото, которое хотите загрузить:</h2>
                </label>
            <div><input type="file" name="avatar" accept="image/*" id="id_avatar" class="edit_input"></div>
            </p>
            {#    {{ form }}#}
            {#<input type="file" name="avatar" accept="image/*" id="id_avatar">#}
            {##}
            {#    {% for f in form %}#}
            {#            <p>#}
            {#                <label class="form_label" for="{{ f.id_for_label }}">{{ f.label }}:</label>#}
            {#                <div>{{ f}}</div>#}
            {#            </p>#}
            {##}
            {#        <div>{{ f }} </div>#}
            {#    {% endfor %}#}
            {#  <!-- myfile1 - переменная передающееся в Django -->#}
            {#  <input type="file" name="image" alt="Фотография">#}
            <button type="submit" class="new_button edit_submit_btn">Обновить фотографию</button>

            <h2 class="ps_edit">P.S. Лучше загружать квадратные фотографии, размером 250x250 пикселей, так они идельно
                впишутся в список врачей</h2>
        </form>
    </div>
{% endblock %}