{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{title}}
{% endblock %}
{% block content %}

    <div class="index_container">
{#    <div class="gk_form_container index">#}
    <p class="hello">Привет юный докстаровец!</p>
{#    </div>#}
    <div class="index_head_container">
    <div class="index_head"><strong>ОНЛАЙН-ВЕЧЕРИНКИ</strong></div>
    </div>
    <div class="lector first">
        <img class="doctor_anonce" src="{% static 'img/first_doc.png' %}">
        <p class="head_anonce">Зачем врачу обращаться в маркетинговое агентство</p>
        <p class="date">05 / 03 / 23</p>

        <p class="name_anonce">Хедлайнер: <a class="link_anonce" href="https://instagram.com/borovikova.med">Дарья Боровикова</a></p>
        <p class="regalii">- управляющий партнер Академии Kdigital https://kdigital-academy.ru
- приглашенный спикер Skillbox, каналов Рен ТВ и Первый
- основатель действующего digital-агентства
Borovikova med smm-med.online
- эксперт с сильными скилами по запуску онлайн-продуктов через теплые воронки (в маркетинге 5 лет)</p>
    </div>
    <div class="lector second">
        <img class="doctor_anonce" src="{% static 'img/second_doc.png' %}">
        <p class="head_anonce">Какие свет и кольцевую лампу выбрать для домашних съёмок?</p>
                <p class="date">12/ 03 / 23</p>

        <p class="name_anonce">Хедлайнер: <a class="link_anonce" href="https://instagram.com/a.skoraya">Алёна Скорая</a></p>
        <p class="regalii">
            -фотограф врачей, опыт в фотографии с 2007 года
-главный фотограф модного детского журнала Kids Avenue
-создатель портфолио для детского магазина Кенгуру
-профессиональный сторисмейкер
        </p>
    </div>
    <div class="lector third">
        <img class="doctor_anonce"  src="{% static 'img/third_doc.png' %}">
        <p class="head_anonce">Построение систем лояльности в клиниках через чатботы. Loyalmed</p>
                <p class="date">19/ 03 / 23</p>

        <p class="name_anonce">Хедлайнер: <a class="link_anonce" href="https://instagram.com/loyalmed.ru?igshid=YmMyMTA2M2Y=">Александр Воронихин</a></p>
        <p class="regalii">-основатель системы лояльности LoyalMed
-специалист в области медицинского менеджмента
-эксперт по программам лояльности для медицинских учреждений, а также для сотрудников медицинских клиники</p>
    </div>
    <div class="lector fourth">
        <img class="doctor_anonce"  src="{% static 'img/foruth_doc.png' %}">
        <p class="head_anonce">YouTube Shorts. Путь с 0 до 50к. Секреты продвижения</p>
        <p class="date">26 / 03 / 23</p>
        <p class="name_anonce">Хедлайнер: <a class="link_anonce" href="https://instagram.com/hirurg_perm?igshid=YmMyMTA2M2Y=">Василий Гаврилов</a></p>
        <p class="regalii">
            -врач-хирург, проктолог, флеболог, кандидат медицинских наук
-доцент кафедры общей хирургии №1 ФГБОУ ВО ПГМУ им. академика Е.А. Вагнера
-автор 125 научных работ, среди них 19 SCOPUS и WEB of SCIENCE, 40 ВАК
-автор 2 монографий для врачей и 10 учебных пособий
-соруководитель 6 победителей конкурса УМНИК
-участник 3 грантов РФФИ и 1 РНФ
        </p>
    </div>

    </div>
{% endblock %}