@media (max-width: 450px) {
    .search_doctors_modal {
        margin-top: 80px;
    }

    .search_doctors_modal .modal-content {
        max-height: 385px;
    }

    .mini_doctor_name {
        font-size: 20px;
    }

    .mini_user_card{
        gap: 25px;
        padding: 20px;
    }

    .search-title{
        padding: 10px 0 10px 20px;
    }

    .city-block{
        padding: 20px;
    }

    .speciality-block{
        padding: 20px;
    }

    .mini_additional_info {
        font-size: 16px;
    }
}

@media (max-width: 350px) {
    .search_doctors_modal {
        margin-top: 70px;
    }

    .search_doctors_modal .modal-content {
        width: 100%;
        max-height: 330px;
    }

    .mini_doctor_info {
        width: 190px;
        height: 125px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .mini_doctor_name {
        font-size: 18px;
    }

    .mini_additional_info {
        font-size: 14px;
    }

    .search-title {
        padding: 8px 0 8px 16px;
    }

    .mini_user_card{
        gap: 20px;
        padding: 16px;
    }

    .city-block{
        padding: 16px;
    }

    .speciality-block{
        padding: 16px;
    }

}