@media (max-width: 420px) {
    .search_doctors_modal .modal-content {
        width: 385px;
        max-height: 385px;
    }

    .mini_user_avatar {
        width: 140px;
        height: 100px;
    }

    .mini_user_card {
        max-height: 160px;
    }

    .mini_doctor_name {
        font-size: 20px;
    }

    .mini_additional_info {
        font-size: 16px;
    }
}