{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
        {% block head_title %}
            {{ title }}
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static "img/dcs.png" %}" type="image/png">
    <link type="text/css" rel="stylesheet" href="{% static 'css/custom_inputs/custom_inputs.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/modals/main_modals.css' %}">
    <script defer src="{% static 'js/main.js' %}"></script>
    <script src="{% static "js/jquery-3.6.0.min.js" %}"></script>

    {% block extralinks %}
    {% endblock %}

</head>
<body>
<div class="main_container">
    <div class="nav_bar">

    </div>
    <div class="header-container">
        <div class="logo">
            <img src="{% static "img/medblogers_logo.png" %}">
        </div>
        <div class="search-doctors-container">
            <img src="{% static "img/lupa.svg" %}">
            <input type="text" placeholder="Найдем для вас врача...">
        </div>
        <div class="login-container">
            <img src="{% static "img/human.svg" %}">
            <span>Вход/регистрация</span>
        </div>
    </div>

    {% block content %}
    {% endblock %}

</div>
</body>

</html>