{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include "analize_counters/yandex_counter.html" %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Open Graph (Facebook, Instagram) -->
    <meta property="og:title" content="MEDBLOGERS BASE - Единая база врачей-блогеров для поиска рекламы">
    <meta property="og:description" content="Единая база врачей-блогеров для поиска рекламы">
    <meta property="og:image" content="https://medblogers.readyschool.ru/static/img/meta_img.jpeg">
    <meta property="og:image:alt" content="MEDBLOGERS BASE - Единая база врачей-блогеров для поиска рекламы">
    <meta property="og:url" content="https://medblogers.readyschool.ru/">
    <meta property="og:type" content="website">

    <!-- Twitter Card (Telegram, Twitter) -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="MEDBLOGERS BASE">
    <meta property="twitter:description" content="Единая база врачей-блогеров для поиска рекламы">
    <meta property="twitter:image" content="https://doctors.readyschool.ru/static/img/meta_img.jpeg">
    <meta property="twitter:image:alt" content="MEDBLOGERS BASE - Единая база врачей-блогеров для поиска рекламы">

    <title>
        {% block head_title %}
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static "img/dcs.png" %}" type="image/png">
    <link type="text/css" rel="stylesheet" href="{% static 'css/custom_inputs/custom_inputs.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/modals/main_modals.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/myLoader/myLoaderSpinner.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static "css/mobile/modals/mobile_main_modals.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/mobile/mobile_main.css' %}">

    <script src="{% static "js/jquery-3.6.0.min.js" %}"></script>
    <script src="{% static 'js/main_main.js' %}"></script>
    <script defer src="{% static 'js/search_doctors_modal.js' %}"></script>
    <script src="{% static 'js/search_doctors_modal.js' %}"></script>

    {% block extralinks %}
    {% endblock %}

</head>
<body>
<div class="main_container">
    <div class="nav_bar">

    </div>
    <div class="header-container">
        <div class="logo-wrapper">
            <div class="logo">
                <a href="{% url "homepage" %}">
                    <img src="{% static "img/medblogers_logo.png" %}">
                </a>
            </div>
        </div>
        <div class="main-title">
            <h1 class="doctors_list_header"><span class="single-base">ЕДИНАЯ БАЗА </span><span class="doctors-blogers">ВРАЧЕЙ-БЛОГЕРОВ</span></h1>
            <p class="doctors_list_header_description white_text">Поиск коллег для реклам и коллабораций по соцсетям, специальностям и городам</p>
        </div>
        <div class="login-container">
            {#            <img src="{% static "img/human.svg" %}">#}
            {#            <span>Вход/регистрация</span>#}
        </div>
    </div>
    
    {% block content %}
    {% endblock %}

</div>
</body>

</html>