{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include "analize_counters/yandex_counter.html" %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block head_title %}
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static "img/dcs.png" %}" type="image/png">
    <link type="text/css" rel="stylesheet" href="{% static 'css/custom_inputs/custom_inputs.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/modals/main_modals.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">

    <link type="text/css" rel="stylesheet" href="{% static "css/mobile/modals/mobile_main_modals.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/mobile/mobile_main.css' %}">

    <script src="{% static "js/jquery-3.6.0.min.js" %}"></script>
    <script src="{% static 'js/main_main.js' %}"></script>
    <script defer src="{% static 'js/search_doctors_modal.js' %}"></script>

    {% block extralinks %}
    {% endblock %}

</head>
<body>
<div class="main_container">
    <div class="nav_bar">

    </div>
    <div class="header-container">
        <div class="logo-wrapper">
            <div class="logo">
                <a href="{% url "homepage" %}">
                    <img src="{% static "img/medblogers_logo.png" %}">
                </a>
            </div>
        </div>
        {% if new_doctor_banner %}
            <div class="banner_new_doctor_mobile">
                <a href="https://t.me/m/9Om1xyxcZTAy" target="_blank">
                    <div class="banner_new_doctor_inline">
                        <p class="banner_new_doctor_header">РАЗМЕЩЕНИЕ НА САЙТЕ</p>
                        <div class="banner_new_doctor_button">Подать заявку</div>
                    </div>
                </a>
            </div>
        {% endif %}
        <div class="search-doctors-wrapper">
            <div class="search-doctors-container">
                <img src="{% static "img/lupa.svg" %}">
                <input class="search-doctors-input" type="text" placeholder="Найдем для вас врача...">
            </div>
            <div class="settings_icon_wrapper">
                <span class="material-icons">
                tune
                </span>
            </div>
        </div>
        <div class="login-container">
            {#            <img src="{% static "img/human.svg" %}">#}
            {#            <span>Вход/регистрация</span>#}
        </div>
    </div>

    {% block content %}
    {% endblock %}

</div>
</body>

</html>