.select2-container--dark .select2-selection--single {
    background-color: #242424;
    color: #fff;
    border: none;
    height: 30px;
}

.select2-search__field {
    background-color: #242424;
    color: #fff;
    border: 2px solid #278dec;
    border-radius: 6px;
}

.select2-container--dark .select2-selection--single .select2-selection__rendered {
    color: #fff;
    padding: 4px;
}

.select2-dropdown {
    background-color: #242424 !important;
    border: 1px solid #606060;
    border-radius: 6px;
}

.select2-container--open .select2-dropdown--below {
    border: 1px solid #606060;
    border-radius: 6px;
}

.select2-dropdown--below {
    background-color: #242424;
    height: 200px;
    overflow-y: scroll;
    width: 465px;
}

.select2-search.select2-search--dropdown {
    background-color: #242424;
    color: #fff;
}

.select2-container--dark .select2-selection--single .select2-selection__arrow {
    color: #fff;
}

.select2-container--dark .select2-results__option {
    background-color: #242424;
    color: #fff;
}

.select2-container--dark .select2-results__option--highlighted {
    background-color: #606060;
    color: #fff;
}
