@font-face {
    font-family: 'CYR-heavy';
    src: url('../fonts/DrukCyr/DrukCyr-Heavy.ttf') format('truetype');
}

@font-face {
    font-family: 'CYR-Medium';
    src: url('../fonts/DrukCyr/DrukCyr-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'CYR-SUPER';
    src: url('../fonts/DrukCyr/DrukCyr-Super.ttf') format('truetype');
}

@font-face {
    font-family: 'CYR-Bold';
    src: url('../fonts/DrukCyr/DrukCyr-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeuePro-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'LAST';
    src: url('../fonts/DrukCyr/DrukWideCyTTHeavy.ttf') format('truetype');
}

@font-face {
    font-family: 'Medi';
    src: url('../fonts/DrukCyr/FontsFree-Net-Druk-Wide-Medium.ttf') format('truetype');
}


body {
    background-color: #0E0F0F;
}

.container_book {
    width: 100%;
    height: 1000px;
    /*border: #FFFFFF 1px solid;*/
}

.photo{
    position: relative;
    height: 100%;
    margin-bottom: 0;
}

/*.ellips_photo{*/
/*    position: relative;*/
/*    height: 100%;;*/
/*}*/

.vova_photo img {

    width: 900px;
    height: 900px;
    right: 0;
    position: absolute;
    bottom: -8px;

}

.ellips_photo div{

    z-index: -10;
    transform: translateY(0) rotate(180deg);
    right: 0;
    width: 800px;
    height: 800px;
    bottom: 0;
    background: rgba(0, 255, 224, 0.41);
            position: absolute;

    filter: blur(412.5px);
}

p {
    color: #FFFFFF;
}

.text_head_1 {
    font-family: CYR-heavy, sans-serif;

    position: absolute;
    width: 1087px;
    height: 433px;
    left: 138px;
    font-style: normal;
    font-weight: 900;
    font-size: 160px;
    line-height: 107px;
    text-transform: uppercase;
    color: #0E0F0F;
    -webkit-text-stroke: 2px #00FFE0;
    letter-spacing: 8px;

    filter: blur(48px);
}

.text_head_2 {
    font-family: CYR-heavy, sans-serif;

    position: absolute;
    width: 1087px;
    height: 433px;
    left: 138px;

    font-style: normal;
    font-weight: 900;
    font-size: 160px;
    line-height: 107px;
    text-transform: uppercase;
    color: #0E0F0F;
    -webkit-text-stroke: 2px #00FFE0;
    letter-spacing: 8px;

    filter: blur(115px);
}


.text_head_3 {
    font-family: CYR-heavy, sans-serif;

    position: absolute;
    width: 1087px;
    height: 433px;
    left: 138px;
    -webkit-text-stroke: 2px #00FFE0;

    font-style: normal;
    font-weight: 900;
    font-size: 160px;
    line-height: 107px;
    text-transform: uppercase;
    color: #0E0F0F;
    letter-spacing: 8px;

    filter: blur(12.5px);
}


.text_head_4 {
    font-family: CYR-heavy, sans-serif;

    position: absolute;
    width: 1087px;
    height: 433px;
    left: 138px;

    font-style: normal;
    font-weight: 900;
    font-size: 160px;
    line-height: 107px;
    text-transform: uppercase;
    color: #0E0F0F;
    letter-spacing: 8px;

    filter: blur(1.5px);
    -webkit-text-stroke: 2px #00FFE0;
}

.text_head_5 {
    font-family: CYR-heavy, sans-serif;

    position: absolute;
    width: 1087px;
    height: 433px;
    left: 138px;
    -webkit-text-stroke: 2px #00FFE0;
    color: #0E0F0F;

    font-style: normal;
    font-weight: 900;
    font-size: 160px;
    line-height: 107px;
    text-transform: uppercase;
    letter-spacing: 8px;

}

.text_thanks {
    position: absolute;
    width: 600px;
    height: 50px;
    left: 138px;
    top: 330px;
    /*letter-spacing: 4px;*/

    font-family: Medi, sans-serif;
    font-weight: 700;
    font-size: 35px;
    /*line-height: 66px;*/

    color: #FFFFFF;
}

.go_read_txt {
    position: absolute;
    width: 500px;
    height: 50px;
    left: 138px;
    top: 435px;

    font-family: LAST, sans-serif;
    font-weight: 900;
    font-size: 28px;
    line-height: 52px;

    color: #FFFFFF;
}

.go_tech {
    position: absolute;
    width: 500px;
    height: 50px;
    left: 138px;
    top: 750px;

    font-family: Medi, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    /* or 100% */

    color: #FFFFFF;
}

.book_button {
    position: absolute;
    width: 500px;
    height: 70px;
    left: 138px;
    top: 573px;

    background: radial-gradient(69.73% 146% at 50% 50%, #46FFDE 0%, #007257 100%);
    box-shadow: 0px 3px 0px #00755C, 0px 3px 83px rgba(0, 255, 199, 0.44);
    border-radius: 10px;
}

.a_book {
    position: absolute;
    width: 500px;
    height: 130px;

    font-family: LAST, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 68px;
    text-decoration: none;
    /* or 293% */
    text-align: center;
    /*letter-spacing: 6px;*/
    color: #FFFFFF;
}

.button_tech_support {
    box-sizing: border-box;

    position: absolute;
    width: 350px;
    height: 50px;
    left: 138px;
    top: 842px;

    border: 2px solid #31D5B6;
}

.a_tech {
    position: absolute;
    width: 350px;
    height: 50px;
    top: 5px;

    font-family: Bebas, sans-serif;
    font-style: normal;
    font-weight: 325;
    font-size: 30px;
    line-height: 42px;

    /* or 166% */
    text-align: center;
    letter-spacing: 0.24em;
    text-decoration: none;
    color: #31D5B6;
}

.flash {
    position: absolute;
    width: 41px;
    height: 60px;
    left: 644px;
    top: 490px;
}

.flash_2 {
    left: 615px;
    top: 470px;
    /*right: -10px;*/
}


@media screen and (max-width: 1000px) {
    .container_book {
        width: 900px;
        position: relative;
        margin: auto;
        height: 100%;
    }
    
    .photo{
        height: 800px;
        position: relative;
        top: 0;
    }
    
    .vova_photo img {
        width: 900px;
        margin: 0 auto;
        height: 900px;
        right: unset;
        bottom: unset;
        z-index: -5;
    }

    .ellips_photo {
        right: unset;
        position: absolute;
        width: 814px;
        height: 814px;
        bottom: unset;
        margin: 0;
    }

    p {
        color: #FFFFFF;
    }

    .text_head_1 {
        text-align: center;
        width: 900px;
        left: unset;
        margin-top: 850px;
    }

    .text_head_2 {
        text-align: center;
        margin-top: 850px;
        left: unset;
        width: 900px;

    }


    .text_head_3 {
        text-align: center;
        margin-top: 850px;
        left: unset;
        width: 900px;

    }


    .text_head_4 {
        text-align: center;
        margin-top: 850px;
        left: unset;
        width: 900px;
    }

    .text_head_5 {
        text-align: center;
        margin-top: 850px;
        left: unset;
        width: 900px;

    }

    .text_thanks {
        width: 900px;
        text-align: center;
        height: 513px;
        left: unset;
        top: 1000px;
    }

    .go_read_txt {
        position: absolute;
        width: 900px;
        text-align: center;
        height: 482px;
        left: unset;
        top: 1080px;

    }

    .go_tech {
        position: absolute;
        width: 900px;
        height: 275px;
        left: unset;
        text-align: center;
        top: 1340px;
        font-size: 25px;
    }
    .go_tech p{
        width: 600px;
        margin: 20px auto;
    }

    .book_button {
        left: 200px;
        top: 1180px;
    }

    .a_book {
        position: absolute;
        width: 500px;
        height: 108px;
    }

    .button_tech_support {
        left: 200px;
        top: 1405px;
        width: 500px;


    }
    .a_tech{
        width: 500px;
    }

    .flash {
        left: 815px;
        top: 1100px;
    }

    .flash_2 {
        left: 790px;
        top: 1070px;
    }

}