.filters-inline-wrapper {
    width: 100%;
    height: auto;
    border-radius: 20px;
    background: #161616;
    padding-top: 20px;
    padding-bottom: 20px;
}


.banner_new_doctor_mobile {
    display: none;
}

.banner_new_doctor_inline {
    background-color: #01284B;
    border-radius: 18px;
    padding: 20px;
    border: 2px solid #2E99FC;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner_new_doctor_header {
    overflow: hidden;
    width: 100%;
    text-align: center;
    font-weight: 800;
    font-size: 28px;
    line-height: 130%;
    font-family: 'Proxima Nova', 'sans-serif';
}

.banner_new_doctor_button {
    overflow: hidden;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    background-color: #2E99FC;
    border-radius: 100px;
    font-size: 16px;
    font-family: 'Proxima Nova', sans-serif;
}

.filter-section {
    padding: 10px 20px 15px 20px;
    border-radius: 8px;
}

.filter-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter_open_close_arrow {
    display: flex;
    align-items: center;
    margin-right: 8px;
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}

.filter_open_close_arrow.open {
    transform: rotate(90deg);
}

.filter-title {
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    color: white;
}

.filter-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    color: white;
}

.filter-content.show {
    max-height: 300px; /* Adjust this value as needed */
}

.search-box {
    width: 100%;
    margin-top: 20px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: #fff;
}

.filter-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 20px 0 0 0;
    overflow-y: scroll;
    max-height: 200px;

    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        box-sizing: border-box;
        background: #222;
        border-radius: 50% / 3px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: #ccc;
        border-radius: 50% / 3px;
    }

    .checkbox-view{
        min-width: 20px;
        min-height: 20px;
    }
}

.filter-list li {
    margin-bottom: 5px;
}

.filter-list label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filter-list input[type="checkbox"] {
    margin-right: 8px;
}

.show-all {
    color: #1e90ff;
    cursor: pointer;
    margin-top: 10px;
    display: inline-block;
}

.filters_wrapper {
    min-width: 280px;
    width: 280px;
}

.active_filters_wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-bottom: 20px;
}

.active_filter {
    display: flex;
    flex-direction: row;
    border-radius: 64px;
    align-items: center;
    margin-right: 15px;
    margin-top: 15px;
    background: #2F9BFF;
}

.search_filter_indicator .material-icons {
    color: #2F9BFF;
    padding: 0;
}

.active_filter_text {
    padding: 5px 0 5px 15px;
    color: white;
}

.active_filter_delete_btn {
    padding: 5px 15px 5px 15px;
}

.material-icons.cancel {
    color: white;
    padding: 5px 0 0;
}

.active_filter:hover {
    background: #FF3737;
}

.block_nowrap{
    text-wrap: nowrap;
}

.submit_button {
    background: #2F9BFF;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin: 20px 20px 0;
    text-align: center;
    cursor: pointer;
}

.clear_button {
    color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    margin: 12px 20px 0;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.submit_button p {
    font-size: 18px;
}

.clear_button p {
    font-size: 18px;
}

.filter-section-dash {
    height: 1px;
    margin: 0 20px 0 20px;
    background: rgba(255, 255, 255, 0.25);
}

@media (max-width: 650px) {
    .filters_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 0px;
        width: 85%;
    }
}

@media (max-width: 500px) {
    .filters_wrapper {
        width: 100%;
    }
}