.doctor_detail_card_container {
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
    color: white;
    overflow: hidden;
}

.material-icons{
    padding: 12px;
}

.doctor_info_wrapper {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.doctor_detail_card {
    display: flex;
    width: 100%;
    flex-direction: row;
    border-radius: 20px;
    background: #1E1E1E;
    gap: 20px;
    padding: 20px;
    overflow: hidden;
}

.container_ava {
    min-width: 300px;
    min-height: 300px;
    width: 300px;
    height: 300px;
    image-orientation: revert;
    object-fit: cover;
}

.doc_avatar{
    width: 100%;
    height: 100%;
}

.avatar {
    object-position: 10% 10%;
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 14px;
}

.doctor_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 10px;

    .doctor_name {
        color: white;

        h1{
            line-height: 42px;
        }
    }

    .doctor_city_speciallity_wrapper {
        margin-top: 10px;
    }

    .doctor_city_wrapper {
        .doctor_city {
            color: #aeaeae;
        }
    }

    .doctor_all_specialties_wrapper {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .doctor_speciallity_wrapper {
        .doctor_speciallity {
            background: #01284B;
            color: #2E99FC;
            width: fit-content;
            border-radius: 8px;

            p {
                padding: 8px 20px 8px 20px;
            }
        }
    }

    .doctor_additional_speciallity_wrapper {
        .doctor_additional_speciallity {
            background: #404040;
            color: #aeaeae;
            width: fit-content;
            border-radius: 8px;

            p {
                padding: 8px 20px 8px 20px;
            }
        }
    }

}


.society_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    justify-content: center;
    width: 100%;
}

.social_links_wrapper{
    width: 100%;
}

.social_icon {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    object-fit: contain;
}

.additional_block {
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

.additional_block span {
    color: #aeaeae;
}

.additional_specialities {
    margin-bottom: 10px;
}

.theme {
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.doctor_actions {
    min-width: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-left: 10px;
    border-left: 1px solid #ffffff40;
}

.prodoc_btn_wrapper {
    width: 200px;
}

.settings_icon_wrapper {
    display: none;
}

.prodoc_btn {
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 8px 60px;
    border-radius: 100px;
    color: white;
    border: 2px solid #2E99FC;
    background: #2E99FC;
    transition: background-color 0.5s ease;
}

.subscribers_link, .social_link {
    background: #404040;
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 16px;
    align-items: center;
    padding: 10px;
    column-gap: 20px;
}

.subs_text {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    text-align: center;
}

.subs_count {
    font-weight: 700;
    min-width: 35px;
    white-space: nowrap;
    text-align: end;
}

.subs_ico_link {
    display: flex;
    min-width: 10px;
    min-height: 10px;
    width: 10px;
    height: 10px;
    align-self: flex-start
}

.subs_ico_link img {
    width: 100%;
    height: 100%;
}

.last_updated_date {
    font-size: 12px;
    color: #aeaeae;
    margin-top: 5px;
    text-align: center;
    text-wrap: nowrap;
}