@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/icons.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

/* Proxima Nova Black */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova/proximanova_black.otf') format('opentype'),
    url('../fonts/Proxima Nova/proximanova_black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Proxima Nova Black Italic */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova/proximanova_blackit.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

/* Proxima Nova Bold */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova/proximanova_bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* Proxima Nova Bold Italic */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova/proximanova_boldit.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

/* Proxima Nova Extra Bold */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova/proximanova_extrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

/* Proxima Nova Light */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova/proximanova_light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

/* Proxima Nova Regular */
@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/Proxima Nova/proximanova_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* DrukCyr Bold */
@font-face {
    font-family: 'DrukCyr';
    src: url('../fonts/DrukCyr/DrukCyr-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* DrukCyr Medium */
@font-face {
    font-family: 'DrukCyr';
    src: url('../fonts/DrukCyr/DrukCyr-Medium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* DrukCyr Super */
@font-face {
    font-family: 'DrukCyr';
    src: url('../fonts/DrukCyr/DrukCyr-Super.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* DrukCyr Heavy */
@font-face {
    font-family: 'DrukCyr';
    src: url('../fonts/DrukCyr/DrukCyr-Heavy.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #0E0F0F;
    width: 100%;
}

.main_container{
    max-width: 100%;
    overflow: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.white_text {
    color: white;
}

.search-doctors-wrapper {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    overflow: visible;
}

.mobile_burger span {
    color: white;
    font-size: 26px;
    padding: 18px;
    border-radius: 50px;
    background: #2E99FC;
}

.burger-container {
    right: 0;
    overflow-y: auto;
    width: 50%;
    padding: 20px;
    position: fixed;
    z-index: 9999;
    margin-top: 0;
    top: 0;
    height: 100%;
    background: #0E0F0F;
}

.mobile_filter_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mobile_filter_header_title {
    color: white;
    font-size: 32px;
}

.mobile_burger_body {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.close_mobile_burger_btn {
    border-radius: 50%;
    background: #161616;
}

.close_mobile_burger_btn .material-icons {
    color: white;
    font-size: 26px;
}

.mobile_burger_body {
    font-size: 20px;
}

.mobile_burger_body a:hover {
    color: #2E99FC;
}

.burger-wrapper {
    display: none;
    position: fixed;
    left: 0;
    z-index: 1002;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.login-container .mobile_burger .material-icons {
    font-size: 20px;
    padding: 10px;
}

.mobile_burger .material-icons:hover {
    color: white;
}