.doctors_list_header {
    color: white;
}

.doctors_list_container {
    max-width: 95%;
    background-color: #0E0F0F;

    .doctors_wrapper {
        display: flex;
        gap: 20px;
        flex-direction: row;
        width: 100%;


        .doctors_container {
            width: 100%;
            min-height: 100vh;

            .all_doctors {
                position: relative;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 20px;
                row-gap: 20px;

                .user_card_wrapper {
                    overflow: hidden;
                    height: 100%;
                    padding: 10px 10px 20px 10px;
                    border-radius: 20px;
                    background: #1E1E1E;


                }
            }
        }
    }
}

.user_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 100%;

    .user_avatar {
        width: 100%;
        margin: 0 0 10px;
        image-orientation: revert;
        object-fit: cover;

        .avatar {
            object-position: 10% 10%;
            object-fit: cover;
            position: relative;
            width: 100%;
            aspect-ratio: 1.6/1;
            border-radius: 14px;
        }

    }



    .user_info_btn_container {
        padding-left: 10px;
        margin-top: 10px;
        text-align: center;
    }

}

.doc_info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 9px;
    width: 100%;
    justify-content: space-between;

    .user_additional_info {
        font-size: 16px;
        color: #aeaeae;
        text-align: left;
        display: flex;
        gap: 5px;
        flex-direction: column;
    }

    .user_additional_info p {
        line-height: 18px;
    }
}

.settings_icon_wrapper {
    display: none;
}


.user_name {
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    margin-top: -2%;
    width: 100%;
    height: 55px;
    float: left;
    text-align: left;
}

.doctor_name {
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

  .user_name p {
      line-height: 20px
  }

.pagination_container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.pagination_button {
    color: #717171;
    cursor: pointer;
    padding: 21px;
}

.pagination_button:hover {
    color: #2E99FC;
}

.pagination_dots {
    color: #717171;
}

.material-icons {
    color: #717171;
    padding: 12px;
}

.material-icons:hover {
    cursor: pointer;
    color: #2E99FC;
}

.pagination_button.active {
    color: #2E99FC;
}

.banner_new_doctor{
    width: 100%;
}

.user_info_btn {
    cursor: pointer;
    width: 150px;
    padding: 8px 20px;
    border-radius: 100px;
    border: 2px solid #2E99FC;
    background: #01284B;
    transition: background-color 0.5s ease;
}

.user_info_btn:hover {
    background: #2E99FC
}
