*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;

}

html, body{
margin: 0;
padding: 0;
}

@font-face {
}
.club_time{
    display: none;
    width: 350px;
    text-align: center;
    margin: 0 auto;
    color: white;
    margin-top: 150px;
    font-family: Circe, serif;
    font-weight: 900;
    font-size: 45px;
}
/*main*/

.index_container{
    height: 1900px;
}
.hello{
      font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 45px;
    color: #01abaa;
    font-weight: 400;
    text-align: center;
    padding: 20px 0 10px 0;
}

.index_head_container{
    /*margin-top: 40px;*/
    width: 1100px;
    height: 80px;
    position: relative;
    margin: 0 auto;
}



.container_404{
    background-image: url("../img/bg.png");
    width: 100%;
    background-size: 100% 100%;
    height: 1000px;
    margin: 0 auto;
        box-sizing: border-box;
    padding: 0;
    position: relative;
}

.container_404 img{
    width: 1200px;
    height: 1000px;
    right: 0;
    position: absolute;
    /*z-index: 10;*/
}

.container_404 img.er{
    height: 800px;
}

.er{
    height: 500px;
    width: 656px;
    left: 39px;
    top: 100px;
    position: absolute;
    z-index: 0;
/*image-orientation: unset;*/
object-fit: unset;
}

.error_text{
    font-family: Circe, serif;
/*font-style: Regular;*/
    top:340px;
font-size: 67px;
vertical-align: Top;
    color: white;
    position: absolute;
        width: 800px;
    left: 39px;

}

.error_text.sec{
    top:450px;
}

.a_404{
    width: 250px;
    height: 64px;
    color: white;
    background-color: #01abaa;
    left: 350px;
    top: 684px;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 ;
    position: relative;
    z-index: 5;
    display: block;
    text-decoration: none;
}
.btn_404{
    font-family: Circe, serif;
font-size: 16px;
font-weight: 900;
line-height: 68px;
letter-spacing: 0;
text-align: center;

}

.p_404{
    top: 684px;
   font-family: Circe, serif;
font-size: 24px;
font-weight: 600;
line-height: 68px;
letter-spacing: 0;
text-align: left;

    left: 39px;
    position: absolute;
    color: white;
}

.error_text_container{
    height: 629px;
    left: 39px;
    top: 201px;
    border-radius: 0;
}

.index_head{
  margin-top: 20px;
  margin-left: 250px;
  width: 614px;
    height: 54px;
    color: #ffffff;
text-align: center;
z-index: 4;
    transform: rotate(2deg);
    background-color: #01abaa ;
    border-radius: 7px;
/*position: absolute;*/
}
.index_head strong{
    font-size: 37px;
font-family: 'DrukTextWideTT',Arial,sans-serif;
line-height: 1.55;
font-weight: 500;
text-transform: uppercase;
    color: white;
    text-align: center;
}

.lector{
    position: relative;
    height: 400px;
    width: 1200px;
    margin: 0 auto;
}

.head_anonce{
    position: absolute;
    text-align: left;
    font-size: 26px;
    font-family: 'Nunito',Arial,sans-serif;
    font-weight: 600;
  top: 38px;
  left: 352px;
  width: 483px;
}

.date{
    color: #01abaa;
    font-family: 'Nunito',Arial,sans-serif;
    font-size: 25px;
    font-weight: 600;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    position: absolute;
  top: 40px;
  left: 989px;
  width: 160px;
}

.doctor_anonce{
    width: 260px;
    height: 290px;
    top: 55px;
    image-orientation: revert;
     object-fit: cover;
    border-radius: 0;
    /*position: absolute;*/
}

.name_anonce{
    color: #000000;
    font-size: 20px;
    font-family: 'Nunito',Arial,sans-serif;
    line-height: 1.55;
    font-weight: 200;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    position: absolute;
  top: 125px;
  left: 354px;
  width: 532px;
}

.name_anonce a{
    color: #01abaa;
    width: 185px;
}

.regalii{
  color: #000000;
  font-size: 20px;
  font-family: 'Nunito',Arial,sans-serif;
  line-height: 1.55;
  font-weight: 200;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  top: 173px;
  left: 354px;
  width: 579px;
    position: absolute;
}

.gk_form_container.index{
    width: 600px;
}

/*footer*/
footer{
    width: 100%;
    background-color: #1d1d3f;
    height: 200px;
    margin: 64px 0 0 0;
    bottom: 0;
    display: block;
}

/*nav-bar*/

.header{
    display: none;
    z-index: 100;
}

.nav_bar{
    width: 100%;
    background: #01abaa;
    background: linear-gradient(to right, #00c7c6, #006e6d);
    height: 100px;
    position: relative;
    text-align: center;
}

.nav_bar_container{
    width: 1200px;
    margin: 0 auto;
}

.header__burger-btn{
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    border: none;
    display: none;
    margin-top: 20px;
    cursor: pointer;
    background-color:transparent;
    z-index: 102;
}



.header__burger-btn span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: white;
    left: 5px;
    transition: transform .5s, opacity .5s;
}

.header__burger-btn span:nth-child(1){
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3){
    transform: translateY(10px);
}

.header.open .header__burger-btn span:nth-child(2){
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(1){
    transform: translateY(0) rotate(-45deg);
}

.header.open .header__burger-btn span:nth-child(3){
    transform: translateY(0) rotate(45deg);
}

.nav_bar_container a{
    border-color:transparent;
    color: white;
    text-decoration: none;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    display: inline-block;
    margin: 20px;
    padding: 20px 20px;
    font-size: 20px;
    font-weight: 400;
    tansition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	text-transform: uppercase;
    cursor: pointer;
}

.nav_bar_container a:hover {
	border: 1px solid white;
    padding: 20px 25px;
    font-size: 25px;
    border-radius: 25px;
	tansition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
    cursor: pointer;

}

.login_doc{
    background: linear-gradient(to right, #007978, #006e6d);
    -webkit-text-fill-color: transparent;
     text-transform: uppercase;
    -webkit-background-clip: text;
    position: absolute;
    width: 100px;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    right: 20px;
    top: 35px;
    cursor: pointer;
}

.login_doc :hover{
    background: linear-gradient(to right, white, white);
    -webkit-text-fill-color: transparent;
     text-transform: uppercase;
    -webkit-background-clip: text;
    cursor: pointer;

}

.login_doc a{
        text-decoration: none;
}

.new_button {
    background: #01abaa; /* Синий цвет фона */
    color: #fff; /* Белый цвет текста */
    border: none; /* Убираем рамку */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    right: 400px;
    top: 62px;
    border-radius: 25px; /* Закруглить кнопку */
    position: absolute;
        cursor: pointer;

}

h3{
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    color: #01abaa;
    font-weight: 200;
    padding: 0 0 5px 0;
}

.choise_spec{
    width: 200px;
}

.choise_city{
    width: 200px;
}

.filter_speciallity_container{
    position: absolute;
    left: 100px;
    top: 50px;
}

.filter_city_container{
    position: absolute;
    left: 350px;
    top: 50px;
}

.container{
    width: 1200px;
    margin: 0 auto;
    /*height: 2000px;*/
}

.filter_container{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 1200px;
    /*background-color: green;*/
    margin: 0 auto;
    position: relative;
    padding-bottom: 2rem;
    height: 150px;
}

.filter_container.open{
    display: none;
}

span{
    color: #01abaa;
    /*margin: 0 auto;*/
    text-align: center;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
}


.clear_btn{
    width: 170px;
    height: 48px;
    border: 2px solid #01abaa;
    position: absolute;
    bottom: 0;
	background:#ffffff; /* Убираем рамку */
    right: 200px;
    top: 62px;
    text-decoration: none;
    border-radius: 25px; /* Закруглить кнопку */
}
.n_c_button{
    width: 170px;
    height: 45%;
    margin-top: 12px;
    color: #01abaa;
    /*margin: 0 auto;*/
    text-align: center;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
}

/*autorize*/
label{
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
}
.input_info{
    padding-top: 15px;
}

.voity_btn{
    background-color: white;
    position: absolute;
    margin-top: 12px;
    border: 1px solid #00c9c8;
    border-radius: 25px;
    cursor: pointer;
}

.exit_site{
    margin-top: 0;
}

.secondaryAction{
    position: absolute;
    top: 200px;
    text-align: center;
    left: 107px;
}

.autorize{
    width: 350px;
    margin: 0 auto;
}



.autorize_btn{
    left: 0;
    position: relative;
    top: 15px;
    width: 300px;
    color: #00c9c8;
    text-decoration: none;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 22px;
}

.autorize_button{
    border-radius: 25px;
    border: 2px solid #01abaa;
    text-align: center;
    background-color: #101010;
    height: 58px;
    padding-top: 10px;
}

.autorize_buttonTrue{
    text-decoration: none;
    color: #ffffff;
    border-radius: 25px;
    width: 350px;
    height: 1px;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    top: 9px;
    position: absolute;
    /*margin: 0 auto;*/
}
.autorize_btnTrue{
    top: 7px;
    position: relative;
    background-color: #01abaa;
    text-decoration: none;
    border-radius: 25px;
    width: 350px;
    height: 50px;
    border: 2px solid #01abaa;
    /*text-align: center;*/
}
.autorizeTrue{
    width: 350px;
    margin: 0 auto;
}

.exit{
    margin: 0 auto;
    width: 300px;
    height: 48px;
}

.form_container.login{
    position: relative;
    text-align: center;
    width: 350px;
    height: 400px;
    top: 8px;
}

.pre_exit_txt{
    padding: 35px 0 10px 0;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    margin: 0 auto;
    width: 350px;
}

.exit_form_container{
    position: relative;
    margin: 0 auto;
    width: 350px;
    /*cursor: pointer;*/
}
/*doctors*/

.all_doctors{
    text-align: center;
    /*max-h: 1200px;*/
    height: 100%;
    display: block;
}

.doctors_container{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 1200px;
    /*background-color: red;*/
    height: 500px;
    margin: 0 auto;
}

img{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 25px;
     image-orientation: revert;
     object-fit: cover;
}

.user_card{
    width: 250px;
    height: 450px;
    outline: none;
    padding: 0;
    display: inline-block;
    position: relative;
    margin: 10px;
}

.user_avatar{
    width: 250px;
    height: 250px;
    float: left;
    margin: 0 0 10px;
    image-orientation: revert;
     object-fit: cover;
}

.doc_info{
    padding: 10px;
}

.user_name{
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
    margin-top: -2%;
    width: 250px;
    height: 50px;
    float: left;
    text-align: left;
}

.user_speciallity {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 20%;
}

.user_city {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    width: 100%;
    position: absolute;
    bottom: 15%;
}

.user_info_btn{
    width: 100%;
    height: 10%;
    border: 2px solid #01abaa;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
	background:#ffffff;
	tansition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	text-transform: uppercase;
}

.user_info_btn div{
    width: 100%;
    height: 45%;
    margin-top: 5%;
    color: #01abaa;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    text-align: center;
}

.user_info_btn:hover {
	color: #fff;
	background: #01abaa;
	tansition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
}

.user_info_btn:hover div {
  color: white;
}


/*doctor_card*/

h1 {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 40px;
    color: #01abaa;
    font-weight: 200;
    text-align: center;
    padding: 20px 0 10px 0;
}

h2{
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 200;
    text-align: center;
    padding: 0 0 20px 0 ;
}

.doctor_card{
    width: 1000px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px silver;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: #fff;
    border: .0625rem solid #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-width: 0;
    position: relative;
}

.card_content{
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem 1.25rem;
    margin-bottom: 50px;
}

.doc_avatar{
    width: 100%;
    height: 300px;
    text-align: center;
    /*margin-top: 10%;*/
}

.doc_avatar .text {
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.container_ava{
    width: 300px;
    height: 350px;
    /*margin-left: 2.5%;*/
    position: absolute;
}

.social_container{
    position: relative;
    width: 200px;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
    margin-left: 500px;
    margin-top: 5px;
}
.social_container a{

    text-decoration: none;
}

.line{
    width: 200px;
    height: 1px;
    border: 1px solid #01abaa;
    position: sticky;
    background-color: #01abaa;

}
.social_container.subs{
    position: absolute;
    top: 5px;
    left: 200px;
    width: 300px;
}
.social_container.subs h2 {
    padding: 0;
    font-size: 15px;

}

.subs p{
     font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    color: #01abaa;
    font-weight: 900;
}



.edit_block{
    position: absolute;
    right: 4px;
    bottom: 5px;
    cursor: pointer;
}

.prodoc_btn{
    position: absolute;
    bottom: 50px;
    left: 480px;
    width: 300px;
    height: 50px;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    font-size: 22px;
    font-weight: 600;
    background-color: #01abaa;
    color: white;
    border: 0;
    cursor: pointer;
}

.edit_btn{
    border-radius: 25px;
    color: #00dcdb;
    background-color: #101010;
    width: 200px;
    cursor: pointer;
    border: none;
    height: 30px;
    font-size: 20px;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
}


.blog{
    left: 500px;
    position: relative;
    width: 400px;
    height: 30px;
    margin-top: 10px;
    text-overflow: ellipsis

}

.blog p{
    text-align: left;
    font-size: 16px;
    color: #101010;
    /*position: absolute;*/
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.blog_head{
    width: 450px;
    height: 20px;
}
.blog_head a{
    color: #01abaa;
    font-size: 18px;
}

/*gk_respo*/

.form_container{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 1200px;
    /*background-color: green;*/
    margin: 0 auto;
    position: relative;
    padding-bottom: 2rem;
    height: 150px;
}

.form_email{
    margin-top: 30px;
    margin-left: 475px;
}

.new_button .login{
    top: 200px;
}

.export_id{
    display: none;
}


@media screen and (max-width: 1100px) {

    .header__burger-btn{
        /*background-color: #01abaa;*/
        display: block;
        transition: transform .5s;

    }

    .nav_bar_container{
        display: none;
    }

    .header{
        display: block;
    }

    .menu{
        position: absolute;
        left: -250px;
        top: 0;
        width: 250px;
        background-color: #01abaa;
        padding: 60px 20px 20px 20px;
        transition: transform .5s;
        z-index: 100;
        font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;

    }

    .menu_list{
        font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
        display: block;
        text-align: left;
    }

     .menu_item a{
        font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
        font-weight: 400;
    }

    .menu_link{
        font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
        color: white;
        font-size: 18px;
        display: block;
        padding: 10px 0;
        text-decoration: none;
        cursor: pointer;
    }

    .header.open .menu{
        transform: translateX(100%);
        z-index: 100;

    }

    .doctors_container{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 1000px;
    margin: 0 auto;
    }

    .filter_container{
        width: 1000px;
        height: 200px;
    }

    .new_button {
    right: 200px;
    }



  .clear_btn{
    right: 415px;
    top: 120px;
    }

}
@media screen and (max-width: 1000px) {

    .filter_speciallity_container{
        position: absolute;
        left: 100px;
        top: 20px;
    }


       footer{
        display: none;
    }

    .filter_city_container{
        position: absolute;
        left: 100px;
        top: 100px;
    }

    .social_container{
        display: block;
        /*position: static;*/
        margin-left: 400px;
        text-align: center;
    }

    /*form{height: 300px}*/
    .new_button {
    right: 116px;
    top: 170px;
    }

    .clear_btn{
    right: 115px;
    top: 230px;
    }

    .filter_container{
    width: 400px;
    height: 300px;
    }

    .doctors_container{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 400px;
    margin: 0 auto;
    }

    .doctor_card{
         width: 690px;
         height: 500px;
     }

    .social_container.subs{
    /*position: absolute;*/
    top: 20px;
    left: 230px;
        padding: 0;
    width: 50px;
    }

    .social_container.subs h2 {
        display: none;
    }

    .subs p{
         font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
        font-size: 20px;
        color: #01abaa;
        font-weight: 900;
    }

    .edit_block{
        right: 5px;
        bottom: 10px;
    }

    .prodoc_btn{
        /*bottom: 100px;*/
        left: 194px;
        font-size: 22px;
        font-weight: 600;
        background-color: #01abaa;
        color: white;
        border: 0;
        cursor: pointer;
    }

    .blog{
        left: 400px;
        position: relative;
        width: 200px;
        height:50px;
        padding-top: 20px;
    }

    .blog_head {
        width: 200px;
    }
    .blog_head a{
        position: absolute;
        top: -10px;
    }
}

@media screen and (max-width: 768px) {
        .index_head_container{
        /*margin-top: 40px;*/
        width: 350px;
        height: 80px;
        position: relative;
        margin: 0 auto;
    }

    .index_head{
  margin-top: 20px;
  margin-left: 0;
  width: 350px;
    transform: rotate(-2deg);
}
.index_head strong{
    font-size: 32px;
}

.lector{
    position: relative;
    height: 600px;
    width: 350px;
    margin: 0 auto;
}

.head_anonce{
    position: absolute;
    font-size: 22px;
    font-weight: 600;
  top: 220px;
  left: 0;
  width: 350px;
    text-align: center;
}

.date{

  top: 350px;
  left: 0;
  width: 350px;
    text-align: center;
}

.doctor_anonce{
    width: 150px;
    height: 150px;
    top: 55px;
    left: 30%;
    margin-right: -70%;
    /*position: absolute;*/
}

.name_anonce{

  top: 300px;
  left: 0;
  width: 350px;
    margin: 0 auto;
    text-align: center;
}

/*.name_anonce a{*/
/*    color: #01abaa;*/
/*    width: 185px;*/
/*}*/

.regalii{
  font-size: 16px;
  top: 400px;
  width: 350px;
    left: 0;
    text-align: center;
margin: 0 auto;
}


    .vova{display: none}
    .container_404{
        background-image: url("../img/bg.png");
        width: 100%;
        background-size: 100% 100%;
        height: 1000px;
        margin: 0 auto;
            box-sizing: border-box;
        padding: 0;
        position: relative;
    }
    .container_404 img.er{
        height: 500px;
        width: 700px;
        /*top: 415px;*/
        position: absolute;
        z-index: 0;

    }
    .container_404 img{
        width: 1200px;
        height: 1000px;
        right: 0;
        position: absolute;
        /*z-index: 10;*/
    }


    .gk_form_container.index{
        width: 350px;
    }
    footer{
        display: none;
    }

    .doctors_container{
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    width: 400px;
    margin: 0 auto;
    }


    .doctor_card{
         width: 350px;
         height: 900px;
        position: relative;
 }

    .social_container{
        display: block;
        /*position: static;*/
        margin-top: 375px;
        margin-left: 55px;
        text-align: center;
    }

    .vk{
        margin-top: 20px ;
    }

    .tg{
        margin-top: 20px ;
    }
    .dzen{
        margin-top: 20px ;
    }

    .line{
        width: 200px;
        height: 1px;
        border: 1px solid #01abaa;
        position: relative;
    }

    .social_container.subs{
    /*position: absolute;*/
    top: 20px;
    left: 230px;
        padding: 0;
    width: 50px;
    }

    .social_container.subs h2 {
        display: none;
    }

    .subs p{
         font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
        font-size: 20px;
        color: #01abaa;
        font-weight: 900;
    }



    .edit_block{
        left: 130px;
        bottom: 15px;
    }

    .prodoc_btn{
        /*bottom: 100px;*/
        left: 25px;
        font-size: 22px;
        font-weight: 600;
        background-color: #01abaa;
        color: white;
        border: 0;
        cursor: pointer;
    }



    .blog{
        left: 0;
        position: relative;
        width: 200px;
        height:50px;
        padding-top: 20px;
    }

    .blog_head {
        width: 200px;
    }
    .blog_head a{
        position: absolute;
        top: -10px;
    }


}

/*chek_gk*/

.gk_form_container{
    position: relative;
    margin: 0 auto;
    width: 350px;
    height: 450px;
    /*cursor: pointer;*/
}

.chek_gk{
   background: #01abaa; /* Синий цвет фона */
    color: #fff; /* Белый цвет текста */
    border: none; /* Убираем рамку */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    /*right: 400px;*/
    /*top: 62px;*/
    border-radius: 25px; /* Закруглить кнопку */
    position: absolute;
    cursor: pointer;
    width: 230px;
    right: 60px;
    font-size: 18px;
}

.form_email{
    margin: 0 auto;
    position: relative;
    /*text-align: center;*/
}
.email_input{
    width: 100%;
}

.gk_btn{
    /*left: 500px;*/
    top: 40px;
}

.gk_login{
    top: 130px;
    text-decoration: none;
    font-family: "HelveticaNeueCyr", "Helvetica Neue", Arial, sans-serif;
    background: #ffffff; /* Синий цвет фона */
    color: #01abaa; /* Белый цвет текста */
    border: 1px solid #01abaa;
    font-size: 18px;
}

/*edit_form*/

.new_photo_form{
    width: 350px;
    margin: 0 auto;
    text-align: center;
    top: 25px;
}

.edit_submit_btn{
    width: 200px;
    left: 75px;
    top: 120px;
}

.text_edit_photo{
    color: #1c7279;
    font-weight: 900;
    font-size: 23.5px;
}

.edit_input{
    font-size: 15px;
    text-align: center;
}

.ps_edit{
    position: absolute;
    top: 200px;
    left: 0;
    font-size: 15px;
}

/*signup*/
/*.form_container.signup{*/

/*}*/

.password_input{
    width: 300px;
}
.password2_input{
    /*padding-top: ;*/
    width: 300px;
}
input{
    width: 300px;
}
.set_password{
    padding-top: 15px;
}

.voity_btn.signup{
    top: 15px;
    color: #019f9e;
    border: 1px solid #1c7279;
    font-size: 22px;
    width: 300px;
    height: 50px;
}


@media screen and (max-width: 595px) {
.container_404{
    background-image: url("../img/bg.png");
    width: 100%;
    background-size: 100% 100%;
    height: 1000px;
    margin: 0 auto;
        box-sizing: border-box;
    padding: 0;
    position: relative;
}
 .container_404 img.er{
        height: 60%;
        width: 100%;
        left: 0;
        position: absolute;
        z-index: 0;
     top: 30px;

    }
.container_404 img{
    width: 720px;
    height: 600px;
    top: 130px;
}

.error_text{
    top:160px;
    font-size: 35px;
    width: 300px;
}

.error_text.sec{
    top:250px;

}

.a_404{
    width: 250px;
    height: 64px;
    color: white;
    background-color: #01abaa;
    left: 39px;
    top: 650px;
    border-radius: 15px;
    box-shadow: 0 0 20px 0 ;
    position: relative;
    z-index: 5;
    display: block;
    text-decoration: none;
}

.p_404{
    top: 560px;
   font-family: Circe, serif;
font-size: 22px;
font-weight: 600;
line-height: 68px;
letter-spacing: 0;
text-align: left;

    left: 39px;
    position: absolute;
    color: white;
}
.club_time{
    display: block;
}

}

.top_img{
    position: relative;
    width: 350px;
    height: 50px;
    margin: 0 auto;
    top: 0;
}

header img{
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0 ;
    margin: 0 auto;
}
