
.header-container {
    width: 1200px;
    max-width: 100%;
    padding: 0 20px;
    margin: 50px auto 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    overflow: visible;
}

.logo img {
    width: 268px;
    height: 75px;
}

.search_doctors_modal{
    .loader_spinner{
        margin: 24px;
    }
}

.doctors_list_header {
    color: white;
    font-weight: 900;
    font-size: clamp(20px, 3.2vw, 41px);
    line-height: 100%;
    letter-spacing: 0;


    .doctors-blogers{
        text-wrap: nowrap;
    }
}

.doctors_list_header_description{
    font-size: clamp(12.5px, 1.4vw, 18px);
    opacity: 0.7;
    font-weight: 500;
}

.search-doctors-container {
    position: relative;
    display: flex;
    z-index: 1001;
    width: 100%;
    padding: 10px 25px;
    align-items: center;
    gap: 10px;
    border-radius: 61px;
    border: 2px solid #606060;
    transition: border 0.25s ease;
}

.search-doctors-container input {
    color: white;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    box-shadow: none;
    z-index: 990;
}

.search-doctors-container input::placeholder {
    font-size: 16px;
}

.lupa {
    width: 25px;
    height: 25px;
}

.login-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    color: white;
    margin-left: auto;
}

.login-container span {
    color: white;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search-doctors-container:hover {
    border: 2px solid var(--blue);
}

.search-doctors-container input:focus {
    border: none;
}

.search-doctors-container:focus-within {
    border: 2px solid var(--blue);
}

.search-doctors-container input::placeholder {
    color: grey;
    transition: color 0.25s ease;
}

.search-doctors-container input:focus::placeholder {
    color: white;
}

.search-doctors-container input.placeholder-white::placeholder {
    color: white;
}