@media (max-width: 420px) {
    .container {
        width: 420px;
    }

    footer {
        width: 420px;
    }

    .footer_container {
        width: 420px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer_content {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-right: unset;
        font-size: 18px;
    }
}

@media (max-width: 350px) {
    .container {
        width: 350px;
    }

    footer {
        width: 350px;
    }

    .footer_container {
        width: 350px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer_content {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-right: unset;
        font-size: 16px;
    }
}