@media (max-width: 420px) {

    .header-container {
        width: 420px;
    }

    .logo {
        display: none;
    }

    .login-container {
        display: none;
    }

    .search-doctors-container {
        width: 385px;
    }

    .search-doctors-container input {
        height: 45px;
        font-size: 18px;
    }

    .search-doctors-container input::placeholder {
        font-size: 18px;
    }

    .search-doctors-container img {
        width: 30px;
        height: 45px;
        margin-top: -5px;
    }

}