
@media (max-width: 1200px) {
    .miniatures {
        &.subscribers_link_wrapper {
            font-size: 15px;
        }
    }
}


@media (max-width: 1140px) {
    .miniatures {
        &.subscribers_link_wrapper {
            font-size: 14px;
        }
    }
}

@media (max-width: 1100px) {
    .doctors_list_container {
        .doctors_wrapper {
            .doctors_container {
                .all_doctors {
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
    .miniatures {
        &.subscribers_link_wrapper {
            font-size: 16px;
        }
    }
}







@media (max-width: 864px) {
    .miniatures {
        &.subscribers_link_wrapper {
            font-size: 15px;
        }
    }
}

@media (max-width: 846px) {
    .miniatures {
        &.subscribers_link_wrapper {
            font-size: 14px;
        }
    }
}

@media (max-width: 830px) {
    .doctors_list_container {
        .doctors_wrapper {
            .doctors_container {
                .all_doctors {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
    }
    .miniatures {
        &.subscribers_link_wrapper {
            font-size: 16px;
        }
    }
}

@media (max-width: 650px) {
    .doctors_list_container {
        .doctors_wrapper {
            flex-direction: column;
            align-items: center;
            .doctors_container {
                .all_doctors {
                    column-gap: 16px;
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }
}

@media (max-width: 550px) {
    .miniatures {
        &.subscribers_link_wrapper {
            font-size: 15px;
        }
    }
}

@media (max-width: 525px) {
    .miniatures {
        &.subscribers_link_wrapper {
            font-size: 14px;
        }
    }
}

@media (max-width: 510px) {
    .doctors_list_container {
        padding: 0 10px;
        .doctors_wrapper {
            .doctors_container {
                .all_doctors {
                    grid-template-columns: repeat(1, 1fr);
                }
            }
        }
        .miniatures {
            &.subscribers_link_wrapper {
                font-size: 16px;
            }
        }
    }

    .user_card {
        gap: 8px;
    }

    .user_info_btn_container{
        width: 100%;
    }

    .user_info_btn {
        width: 100%;
        padding: 14px 20px;
    }
}


@media (max-width: 450px) {
    .doctors_list_header {
        font-size: 30px;
        line-height: 40px;
        margin-top: 20px;
    }

    .doctors_list_header_description {
        width: 90%;
        margin: 20px auto 0;
        font-size: 19px;
    }

    .doctors-blogers {
        font-size: 40px;
        letter-spacing: 2px;
    }

    .single-base {
        font-size: 57px;
        letter-spacing: 2px;
    }

    .doctors_wrapper {
        flex-direction: column;
    }

    .all_doctors {
        justify-content: space-between;
    }

    .user_card_wrapper {
        width: 100%;
        padding: 40px;
    }

    .user_avatar {
        margin: 0;
    }

    .doc_info {
        gap: 12px;
        justify-content: space-evenly;
    }

    .user_name {
        font-size: 26px;
        margin: 0;
        height: auto;
        white-space: normal;
        word-wrap: break-word;
        overflow: visible;
    }

    .user_additional_info {
        font-size: 18px;
    }



    .user_info_btn_text {
        font-size: 18px;
    }

    .pagination_button {
        font-size: 18px;
    }

    .navigation_btn .material-icons {
        font-size: 18px;
    }

    .user_name p {
        line-height: 25px;
    }
}





@media (max-width: 450px) {
     .settings_icon_wrapper {
         display: block;
         .material-icons {
            font-size: 30px;
            color: white;
            background: #606060;
            border-radius: 16px;
        }
    }
}

@media (max-width: 350px) {
    .doctors_list_header {
        font-size: 26px;
        line-height: 35px;
        margin-top: 20px;
    }

    .doctors-blogers {
        font-size: 33px;
        letter-spacing: 2px;
    }

    .single-base {
        font-size: 48px;
        letter-spacing: 2px;
    }

    .user_card_wrapper {
        width: 100%;
        padding: 10px;
    }

    .settings_icon_wrapper {
        display: block;

        .material-icons {
            font-size: 26px;
            color: white;
            background: #606060;
            border-radius: 16px;
        }
    }

    .user_card {
        height: 100%;
    }

    .user_avatar {
        margin: 0;
    }

    .doc_info {
        justify-content: space-evenly;
    }

    .user_name {
        font-size: 22px;
        margin: 0;
        height: auto;
        white-space: normal;
        word-wrap: break-word;
        overflow: visible;
    }

    .user_additional_info {
        font-size: 16px;
    }

    .user_info_btn {
        width: 100%;
        padding: 14px 20px;
    }

    .user_info_btn_text {
        font-size: 16px;
    }

    .pagination_button {
        font-size: 16px;
        padding: 17px;
    }

    .navigation_btn .material-icons {
        font-size: 16px;
    }

    .doctors_list_header_description {
        width: 90%;
        margin: 20px auto 0;
        font-size: 16px;
    }

    .user_name p {
        line-height: 25px;
    }
}
