@media (max-width: 980px) {
    .doctor_info_wrapper{
        flex-direction: column;
    }

    .doctor_actions{
        min-width: 0;
        border-left: none;
        padding: 10px 0;
        margin-top: 20px;
        border-top: 1px solid #ffffff40;
    }

    .prodoc_btn {
        width: 100%;
    }

    .prodoc_btn_wrapper{
        margin: 10px 0;
        padding: 0 10px;
        width: 100%;
    }

    .doctor_info {
        .doctor_name h1 {
            line-height: 2.2rem;
        }
    }

}

@media (max-width: 750px) {
    .doctor_actions{
        width: 100%;
    }

    .container_ava{
        min-width: 260px;
        min-height: 260px;
        height: 260px;
        width: 260px;
    }
}

@media (max-width: 650px) {
    .container_ava{
        min-width: 240px;
        min-height: 240px;
        height: 240px;
        width: 240px;
    }

    .doctor_info {
        .doctor_name h1 {
            font-size: 28px;
        }
    }

    .doctor_detail_card_container{
        padding: 10px;
    }
}

@media (max-width: 550px) {

    .doctor_detail_card{
        flex-direction: column;
    }
    .doctor_detail_card{
            padding: 20px 16px;
    }
    .container_ava {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }

    .prodoc_btn_wrapper {
        display: block;
    }

    .prodoc_btn {
        font-size: 16px;
        padding: 15px;
    }
}



@media (max-width: 450px) {
    .doctor_info_wrapper {
        flex-direction: column;
    }

    .settings_icon_wrapper {
        display: none;
    }

    .doctor_detail_card_container {
        margin-top: 20px;
    }

    .doctor_city_speciallity_wrapper {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        column-gap: 30px;
    }

    .doctor_city_wrapper {
        margin-top: 0;
    }

    .doctor_info {
        width: 100%;
        padding-right: unset;

        .doctor_name h1 {
            font-size: 24px;
        }
    }

    .additional_information {
        margin-top: 20px;
        font-size: 16px;
        text-align: left;
        display: flex;
        row-gap: 20px;
        flex-direction: column;
    }

    .society_block {
        justify-content: space-evenly;
        column-gap: 30px;
        margin-top: 10px;
    }

    .subs_ico_link img{
        width: 12px;
        height: 12px;
    }

    .doctor_actions {
        width: 100%;
        padding-left: unset;
        border-left: unset;
        border-top: 1px solid #ffffff40;
        margin-top: 10px;
        padding-top: 10px;
    }



    .subscribers_link {
        justify-content: space-between;
    }

    .last_updated_date {
        font-size: 13px;
        color: #ffffff80;
    }
}

@media (max-width: 350px) {

    .settings_icon_wrapper {
        display: none;
    }

    .doctor_city_speciallity_wrapper {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        column-gap: 30px;
    }

    .doctor_city_wrapper {
        margin-top: 0;
    }

    .doctor_info {
        width: 100%;

        .doctor_name h1 {
            font-size: 24px;
        }
    }

    .social_icon {
        width: 26px;
        height: 26px;
        min-width: 26px;
        min-height: 26px;
    }

    .additional_information {
        margin-top: 20px;
        font-size: 16px;
        text-align: left;
        display: flex;
        row-gap: 20px;
        flex-direction: column;
    }

    .society_block {
        justify-content: space-evenly;
        column-gap: 30px;
        margin-top: 10px;
    }

    .doctor_actions {
        width: 100%;
    }

    .prodoc_btn {
        font-size: 16px;
        padding: 10px;
    }

    .last_updated_date {
        font-size: 13px;
        color: #ffffff80;
    }
}
