@media (max-width: 900px) {
    .logo-wrapper {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }


    .mobile_filter_header {
        margin-top: 14px;
        .close_mobile_burger_btn{
            margin-right: calc(2.5vw - 20px + 6px);
        }
    }
}

@media (max-width: 450px) {
    .container {
        width: 100%;
    }

    footer {
        width: 420px;
    }

    .search-doctors-wrapper {
        gap: 10px;
        margin-top: 16px;
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }

    .mobile_filter_header{
        margin-top: 19px;
    }

    .mobile_burger span {
        color: white;

        font-size: 26px;
        padding: 18px;
        border-radius: 50px;
        background: #2E99FC;
    }

    .burger-container {
        overflow-y: auto;
        width: 100%;
        padding: 20px;
        position: fixed;
        z-index: 9999;
        margin-top: 0;
        top: 0;
        height: 100%;
        background: #0E0F0F;
    }

    .mobile_burger_body {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    .close_mobile_burger_btn {
        border-radius: 100px;
        background: #161616;
    }

    .close_mobile_burger_btn .material-icons {
        color: white;
        font-size: 26px;
    }

    .mobile_burger_body {
        font-size: 20px;
    }

    .main-title {
        text-align: center;
    }
}

@media (max-width: 350px) {
    .container {
        width: 350px;
    }

    .mobile_filter_header {
        padding-right: -20px;
    }

    .logo-wrapper {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 20px;
    }

    .mobile_burger span {
        color: white;
        font-size: 26px;
        padding: 13px;
        border-radius: 50px;
        background: #2E99FC;
    }

    .burger-container {
        overflow-y: auto;
        width: 100%;
        padding: 20px;
        position: fixed;
        z-index: 9999;
        margin-top: 0;
        top: 0;
        height: 100%;
        background: #0E0F0F;
    }

    .mobile_burger_body {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    .mobile_filter_header {
        margin-top: 20px;
        .close_mobile_burger_btn{
            margin-right: calc(2.5vw - 20px + 1px);
        }
    }

    .close_mobile_burger_btn .material-icons {
        color: white;
        font-size: 26px;
    }

    .mobile_burger_body {
        font-size: 20px;
    }

    .main-title {
        text-align: center;
    }
}